/* Global Variables
------------------------------------------------------------ */
/* Global Reset // We'll pull in a common reset here, perhaps in another file!
------------------------------------------------------------ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* Primary Palette
------------------------------------------------------------ */
/* Brands Palette
------------------------------------------------------------ */
/* Font
------------------------------------------------------------ */
/* Border Radii
------------------------------------------------------------ */
/* Box Shadows
------------------------------------------------------------ */
a {
  color: #168eea;
  text-decoration: none; }
  a:hover {
    color: #106aaf; }
  a img {
    outline: none; }

body {
  font-family: "open sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #59626a;
  background-color: #f4f7f9; }

ul {
  margin: 16px 16px; }
  ul li {
    margin-top: 8px;
    margin-bottom: 8px; }

.flex-container,
.flex-container header,
.flex-container footer {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }

div.flex-container {
  flex-direction: column;
  justify-content: center; }

main.flex-container {
  flex-direction: row; }

.atom-list {
  flex-basis: 20%; }

.content {
  flex-basis: 80%; }

.flex-container header,
.flex-container footer {
  width: 100%; }

.icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-color: #fff; }

.section {
  margin-bottom: 64px;
  padding: 0 32px 64px 32px;
  border-bottom: 1px solid #ced7df; }

.section--last {
  border-bottom: 0; }

.section-title,
.section-secondary-title {
  margin-top: 0; }

.section-secondary {
  padding: 16px 0;
  border-bottom: 1px solid #eff3f6; }

.section-secondary-rendered {
  margin-bottom: 24px;
  padding: 16px;
  background-color: #f4f7f9;
  border: 1px solid #ced7df;
  border-radius: 4px; }

.section-secondary--last {
  padding-bottom: 0;
  border-bottom: 0; }

.icon-twitter {
  background-color: #55acee; }

.code-block {
  margin: 32px 0; }

.code-block-title {
  padding: 8px 16px;
  font-size: 12px;
  font-weight: 600;
  color: #323b43;
  text-transform: uppercase;
  background-color: #ced7df;
  border-radius: 4px 4px 0 0; }

.code-block-render,
.code-block-code {
  padding: 8px 16px;
  border: 1px solid #ced7df;
  border-top: 0;
  border-bottom: 0; }

.code-block-code {
  padding: 8px 16px;
  background-color: #f4f7f9;
  border: 1px solid #ced7df;
  border-radius: 0 0 4px 4px; }

.pre--last {
  margin-bottom: -16px; }
