/**
 * Buffer style guide root file
 *
 * Only imports of SCSS files at this level. These files are meant to be
 * consumed by other projects. Do not include SCSS meant for the presentation
 * of the style guide website itself.
 */
body {
  font-size: 14px;
  color: #59626a; }

code {
  padding: 2px 4px;
  color: #ff1e1e;
  background-color: rgba(255, 30, 30, 0.1);
  border-radius: 2px; }

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: normal;
  color: #323b43; }

h1,
h2,
h3 {
  margin: 0 0 32px 0;
  font-weight: 300; }

h1 {
  font-size: 48px;
  line-height: 72px; }

h2 {
  font-size: 40px;
  line-height: 60px; }

h3 {
  font-size: 24px;
  line-height: 36px; }

h4,
h5,
h6 {
  margin: 0 0 16px 0;
  font-size: 14px;
  line-height: 1.5; }

a {
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

ol,
ul {
  margin: 32px 16px 32px 34px; }

li {
  margin-bottom: 8px; }

.List--style-none {
  list-style: none; }

.List--margin-bottom-0 {
  margin-bottom: 0; }

p {
  margin: 16px 0; }

.Paragraph--first {
  margin-top: 0; }

.Paragraph--last {
  margin-bottom: 0; }

*, *:before, *:after {
  box-sizing: inherit; }

.Button {
  display: inline-block;
  padding: 8px 24px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #fff;
  background-color: #168eea;
  border: 1px solid transparent;
  border-radius: 256px;
  cursor: pointer;
  outline: none;
  transition: background-color 0.1s linear; }

.Button:active {
  background-color: #0f63a4 !important; }

.Button:hover {
  color: #fff;
  text-decoration: none;
  background-color: #137ac9; }

.Button [class*=" bi-"]:before,
.Button [class^=bi-]:before {
  vertical-align: baseline; }

.Button .bi {
  color: #fff; }

.Button--state-warning {
  color: #ff1e1e;
  background-color: transparent;
  border-color: #ff1e1e; }

.Button--state-warning:active {
  color: #ff1e1e !important;
  background-color: rgba(255, 30, 30, 0.1) !important; }

.Button--state-warning:hover {
  color: #ff1e1e !important;
  background-color: transparent; }

.Button--state-warning:hover i.bi {
  color: #fff; }

.Button--state-warning i.bi {
  color: #ff1e1e; }

.Button--type-borderless {
  color: #168eea;
  background-color: transparent;
  border: 0; }

.Button--type-borderless:hover {
  color: #137ac9;
  background-color: transparent; }

.Button--type-borderless:active {
  color: #137ac9;
  background-color: transparent !important; }

.Button--type-in-app {
  padding: 4px 16px; }

.Button--type-secondary {
  color: #168eea;
  background-color: transparent;
  border-color: #168eea; }

.Button--type-secondary:active {
  color: #168eea !important;
  background-color: rgba(22, 142, 234, 0.1) !important;
  border-color: #168eea !important; }

.Button--type-secondary:hover {
  color: #137ac9;
  background-color: transparent;
  border-color: #137ac9; }

.Button--type-secondary i.bi {
  color: #168eea; }

.Button--type-small {
  padding: 2px 10px;
  font-size: 11px; }

.Button--type-tertiary {
  color: #666c72;
  background-color: transparent;
  border-color: #ced7df; }

.Button--type-tertiary i.bi {
  color: #666c72; }

.Button--type-tertiary:active {
  color: #323b43 !important;
  background-color: rgba(50, 59, 67, 0.1) !important;
  border-color: #323b43 !important; }

.Button--type-tertiary:active i.bi {
  color: #323b43 !important; }

.Button--type-tertiary:hover {
  color: #323b43;
  background-color: transparent;
  border-color: #323b43; }

.Button--type-tertiary:hover i.bi {
  color: #323b43; }

.ButtonIcon {
  align-self: center;
  width: 16px;
  height: 16px;
  font-size: 16px;
  line-height: 12px;
  background-color: transparent;
  border: 0; }

.Card {
  margin-bottom: 16px;
  padding: 16px;
  background-color: #fff;
  border: 1px solid #ced7df;
  border-radius: 4px; }

.Card .Card {
  border-radius: 2px; }

.Card .Card .Card {
  border-radius: 1px; }

.Card--double-padding {
  padding: 32px; }

.Card--empty {
  border-style: dashed; }

.Card--no-border {
  border: 0; }

.Card--no-padding {
  padding: 0; }

.Block {
  padding: 64px 0; }

.Block .bi {
  margin-right: 8px; }

.Block .bi.bi--right {
  margin-right: 0;
  margin-left: 8px; }

.Block .bi.bi--shamrock {
  color: #2fd566; }

.Block__content-block {
  margin-top: 32px; }

.Block__content-block h2,
.Block__content-block h3 {
  margin-bottom: 0; }

.Block__content-block--top {
  margin-top: 0; }

.Block__content--center {
  text-align: center; }

.Block__content--center img {
  margin: 0 auto; }

.Block__content--left {
  text-align: left; }

.Block__content--no-margin h1,
.Block__content--no-margin h2,
.Block__content--no-margin h3,
.Block__content--no-margin h4,
.Block__content--no-margin h5,
.Block__content--no-margin h6 {
  margin-bottom: 0; }

.Block__content--right {
  text-align: right; }

.BlockAlternative {
  background-color: #f4f7f9; }

.BlockCaseStudies {
  padding-bottom: 48px; }

.BlockCaseStudies a:hover {
  text-decoration: none; }

@media screen and (max-width: 768px) {
  .BlockContent .GridContainer {
    width: 100%; } }

@media screen and (min-width: 769px) and (max-width: 959px) {
  .BlockContent .GridContainer {
    width: 100%; } }

@media screen and (min-width: 1024px) {
  .BlockContent .GridContainer {
    width: 640px; } }

.BlockDark {
  text-align: center;
  background-color: #323b43; }

.BlockDark h2,
.BlockDark h3 {
  margin-bottom: 0; }

.BlockDark h2 {
  color: #fff; }

.BlockDark h3 {
  color: rgba(255, 255, 255, 0.8); }

.BlockDark p {
  color: rgba(255, 255, 255, 0.6); }

.BlockDark .Button {
  margin-top: 32px; }

.BlockFooter {
  background-color: #f4f7f9; }

.BlockFooter h5 {
  margin-top: 0;
  margin-bottom: 16px; }

.BlockFooter ul {
  margin: 0 0 32px 0; }

.BlockFooter p {
  margin-bottom: 0; }

.BlockFooter__copyright a {
  color: #59626a; }

.BlockGrid h3,
.BlockGrid h4,
.BlockGrid p {
  margin-bottom: 0; }

.BlockGrid .ProfilePicture {
  margin-top: 16px; }

.BlockGrid__title {
  margin-top: 32px; }

.BlockHero {
  padding-top: 128px;
  padding-bottom: 128px;
  text-align: center;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat; }

.BlockHero h2,
.BlockHero h3 {
  margin-bottom: 0;
  color: #fff; }

.BlockHero h3 {
  color: rgba(255, 255, 255, 0.5); }

.BlockHero p {
  margin-bottom: 0; }

.BlockHero .Button {
  margin-top: 32px; }

* {
  box-sizing: border-box; }

[class*="Column"],
[class*="Columns"] {
  float: left;
  padding: 0 16px;
  width: 100%; }

.GridRow::after {
  display: block;
  clear: both;
  content: ""; }

.GridRow img {
  max-width: 100%;
  height: auto; }

.GridContainer {
  margin: 0 auto; }

.GridContainer::after {
  display: block;
  clear: both;
  content: ""; }

@media screen and (max-width: 768px) {
  .GridContainer {
    width: 100%; }
  .OneColumn--medium {
    width: 8.33%; }
  .TwoColumns--medium {
    width: 16.66%; }
  .ThreeColumns--medium {
    width: 25%; }
  .FourColumns--medium {
    width: 33.33%; }
  .FiveColumns--medium {
    width: 41.66%; }
  .SixColumns--medium {
    width: 50%; }
  .SevenColumns--medium {
    width: 58.33%; }
  .EightColumns--medium {
    width: 66.66%; }
  .NineColumns--medium {
    width: 75%; }
  .TenColumns--medium {
    width: 83.33%; }
  .ElevenColumns--medium {
    width: 91.66%; }
  .TwelveColumns--medium {
    width: 100%; }
  .Button--margin-top--medium {
    margin-top: 16px; }
  .Image--margin-top--medium {
    margin-top: 32px; }
  .Image--margin-bottom--medium {
    margin-bottom: 32px; } }

@media screen and (min-width: 769px) and (max-width: 959px) {
  .GridContainer {
    width: 100%; } }

@media screen and (min-width: 1024px) {
  .GridContainer {
    width: 960px; }
  .OneColumn--large {
    width: 8.33%; }
  .TwoColumns--large {
    width: 16.66%; }
  .ThreeColumns--large {
    width: 25%; }
  .FourColumns--large {
    width: 33.33%; }
  .FiveColumns--large {
    width: 41.66%; }
  .SixColumns--large {
    width: 50%; }
  .SevenColumns--large {
    width: 58.33%; }
  .EightColumns--large {
    width: 66.66%; }
  .NineColumns--large {
    width: 75%; }
  .TenColumns--large {
    width: 83.33%; }
  .ElevenColumns--large {
    width: 91.66%; }
  .TwelveColumns--large {
    width: 100%; } }

.NavBar {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  z-index: 1;
  display: flex;
  padding: 0 16px;
  width: 100%;
  height: 64px;
  background-color: #fff;
  border-bottom: 1px solid #ced7df; }

.NavBar a:hover {
  text-decoration: none; }

.NavBar .bi {
  margin-right: 8px; }

.NavBar__title {
  flex-grow: 0;
  margin-right: 50px;
  font-size: 16px;
  font-weight: 600;
  color: #323b43; }

.NavBar__title:hover {
  text-decoration: none;
  color: #59626a; }

.NavBar__title a {
  color: #323b43; }

.NavBar__LeftMenu,
.NavBar__RightMenu {
  flex-direction: row;
  align-items: center;
  display: flex;
  margin: 0;
  list-style: none; }

.NavBar__LeftMenu {
  justify-content: flex-start;
  flex-grow: 1; }

.NavBar__RightMenu {
  justify-content: flex-end;
  flex-grow: 0; }

.NavBar__RightMenu .Button {
  margin-right: 16px; }

.NavBar__Menu__item {
  margin: 0 32px 0 0; }

.NavBar__Menu__item a {
  display: inline-block; }

.NavBar__Menu__item .ProfilePicture {
  vertical-align: middle;
  display: inline-block !important;
  margin-right: 8px; }

.NavBar__Menu__item__link {
  color: #59626a; }

.NavBar__Menu__item--active .NavBar__Menu__item__link {
  font-weight: 600;
  color: #323b43; }

.NavBar__Menu__item--last {
  margin-right: 0; }

.Notification {
  flex-direction: row;
  justify-content: flex-start;
  align-content: stretch;
  display: flex;
  padding: 16px;
  color: #fff;
  background-color: #168eea; }

.Notification:hover {
  color: #0f63a4; }

.Notification a .bi {
  color: #fff; }

.Notification i {
  flex-grow: 0;
  margin-right: 0; }

.Notification p {
  flex-grow: 1;
  align-self: center;
  margin: 0 16px 0 0; }

.Notification .ButtonIcon {
  color: #fff; }

.Notification--error .ButtonIcon,
.Notification--success .ButtonIcon,
.Notification--warning .ButtonIcon {
  color: #168eea; }

.Notification--error .ButtonIcon:hover,
.Notification--success .ButtonIcon:hover,
.Notification--warning .ButtonIcon:hover {
  color: #0f63a4; }

.Notification--error {
  color: #323b43;
  background-color: rgba(255, 30, 30, 0.2); }

.Notification--error a .bi {
  color: #ff1e1e; }

.Notification--success {
  color: #323b43;
  background-color: rgba(47, 213, 102, 0.2); }

.Notification--success a .bi {
  color: #2fd566; }

.Notification--warning {
  color: #323b43;
  background-color: rgba(241, 203, 58, 0.2); }

.Notification--warning a .bi {
  color: #f1cb3a; }

.ProfilePicture {
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 256px; }

.ProfilePicture--extra-large {
  width: 128px;
  height: 128px; }

.ProfilePicture--large {
  width: 64px;
  height: 64px; }

.ProfilePicture--medium {
  width: 48px;
  height: 48px; }

.ProfilePicture--small {
  width: 16px;
  height: 16px; }

.ProfilePictureWithIcon {
  position: relative;
  width: 32px;
  height: 32px;
  background: red; }

.ProfilePictureWithIcon__icon {
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: #fff; }

.Tag {
  padding: 2px 8px;
  font-size: 11px;
  font-weight: 600;
  color: #59626a;
  background-color: #ced7df;
  border-radius: 4px; }

.Tag--error,
.Tag--primary {
  color: #fff; }

.Tag--error {
  background-color: #ff1e1e; }

.Tag--margin-right {
  margin-right: 8px; }

.Tag--primary {
  background-color: #168eea; }

.BlockHero--colors {
  background-color: #323b43; }

.CardWithColor {
  margin: -17px -17px -17px -17px;
  padding: 64px 0;
  text-align: center;
  border-radius: 4px; }

.CardWithColor h3 {
  margin-bottom: 0; }

.CardWithColor p {
  margin: 0; }

.CardWithColor__content ol,
.CardWithColor__content ul {
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0; }

.CardWithColor--color-aqua-haze,
.CardWithColor--color-white {
  margin: -16px; }

.CardWithColor--blue-1 {
  background-color: #168eea; }

.CardWithColor--appdotnet h3,
.CardWithColor--blue-1 h3,
.CardWithColor--blue-2 h3,
.CardWithColor--blue-3 h3,
.CardWithColor--facebook h3,
.CardWithColor--googleplus h3,
.CardWithColor--gray-1 h3,
.CardWithColor--gray-2 h3,
.CardWithColor--gray-3 h3,
.CardWithColor--linkedin h3,
.CardWithColor--pinterest h3,
.CardWithColor--twitter h3,
.CardWithColor--red h3 {
  color: #fff; }

.CardWithColor--appdotnet p,
.CardWithColor--blue-1 p,
.CardWithColor--blue-2 p,
.CardWithColor--blue-3 p,
.CardWithColor--facebook p,
.CardWithColor--googleplus p,
.CardWithColor--gray-1 p,
.CardWithColor--gray-2 p,
.CardWithColor--gray-3 p,
.CardWithColor--linkedin p,
.CardWithColor--pinterest p,
.CardWithColor--twitter p,
.CardWithColor--red p {
  color: rgba(255, 255, 255, 0.75); }

.CardWithColor--appdotnet {
  background-color: #4a484c; }

.CardWithColor--blue-2 {
  background-color: #137ac9; }

.CardWithColor--blue-3 {
  background-color: #0f63a4; }

.CardWithColor--facebook {
  background-color: #3b5998; }

.CardWithColor--googleplus {
  background-color: #dd4b39; }

.CardWithColor--gray-1 {
  background-color: #323b43; }

.CardWithColor--gray-2 {
  background-color: #59626a; }

.CardWithColor--gray-3 {
  background-color: #666c72; }

.CardWithColor--gray-4 {
  background-color: #ced7df; }

.CardWithColor--gray-5 {
  background-color: #f4f7f9; }

.CardWithColor--green {
  background-color: #2fd566; }

.CardWithColor--linkedin {
  background-color: #007bb6; }

.CardWithColor--pinterest {
  background-color: #bd081c; }

.CardWithColor--red {
  background-color: #ff1e1e; }

.CardWithColor--twitter {
  background-color: #55acee; }

.CardWithColor--white {
  background-color: #fff; }

.CardWithColor--yellow {
  background-color: #f1cb3a; }

.GridRow--color-swatch {
  margin-top: 32px; }

.GridRow--color-swatch-last-row .Card {
  margin-bottom: 0; }
