/**
 * Buffer style guide root file
 *
 * Only imports of SCSS files at this level. These files are meant to be
 * consumed by other projects. Do not include SCSS meant for the presentation
 * of the style guide website itself.
 */
/* Global Reset // We'll pull in a common reset here, perhaps in another file!
------------------------------------------------------------ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* Shades Palette
------------------------------------------------------------ */
/* Primary Palette
------------------------------------------------------------ */
/* Blues
------------------------------ */
/* Grays
------------------------------ */
/* Others
------------------------------ */
/* Brands Palette
------------------------------------------------------------ */
/* Font
------------------------------------------------------------ */
/* Border Radii
------------------------------------------------------------ */
/* Box Shadows
------------------------------------------------------------ */
/* Animation
------------------------------------------------------------ */
/* Global Reset // We'll pull in a common reset here, perhaps in another file!
------------------------------------------------------------ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* Shades Palette
------------------------------------------------------------ */
/* Primary Palette
------------------------------------------------------------ */
/* Blues
------------------------------ */
/* Grays
------------------------------ */
/* Others
------------------------------ */
/* Brands Palette
------------------------------------------------------------ */
/* Font
------------------------------------------------------------ */
/* Border Radii
------------------------------------------------------------ */
/* Box Shadows
------------------------------------------------------------ */
/* Animation
------------------------------------------------------------ */
html {
  font-size: 0.875em; }

/* Body
------------------------------------------------------------ */
body {
  font-family: "open sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.45;
  color: #59626a; }

/* Headings
------------------------------------------------------------ */
h1,
h2,
h3,
h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2; }

h1 {
  font-size: 3.998em;
  color: #323b43; }
  h1 .subtitle {
    font-size: 14px;
    font-weight: 400; }

h2 {
  font-size: 2.827em;
  color: #323b43; }
  h2 .subtitle {
    font-size: 14px;
    font-weight: 400; }

h3 {
  font-size: 1.999em;
  color: #323b43; }

h4 {
  font-size: 1.414em;
  color: #323b43; }

h5,
h6 {
  font-size: 14px;
  color: #323b43; }

/* Paragraphs
-------------------------------------------------- */
code {
  color: #000000; }

p {
  margin-bottom: 1.3em; }

small {
  font-size: 0.707em; }

*, *:before, *:after {
  box-sizing: inherit; }

/* Global Reset // We'll pull in a common reset here, perhaps in another file!
------------------------------------------------------------ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* Shades Palette
------------------------------------------------------------ */
/* Primary Palette
------------------------------------------------------------ */
/* Blues
------------------------------ */
/* Grays
------------------------------ */
/* Others
------------------------------ */
/* Brands Palette
------------------------------------------------------------ */
/* Font
------------------------------------------------------------ */
/* Border Radii
------------------------------------------------------------ */
/* Box Shadows
------------------------------------------------------------ */
/* Animation
------------------------------------------------------------ */
/* Base Object
------------------------------------------------------------ */
.button {
  padding: 5px 20px;
  font-family: "open sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
  background-color: #168eea;
  border: 1px solid transparent;
  border-radius: 100px;
  cursor: pointer;
  transition: background-color 0.1s linear; }
  .button:active {
    background-color: #0f63a4 !important; }
    .button:active.button--inactive {
      background-color: #168eea !important; }
  .button:hover {
    background-color: #137ac9; }
    .button:hover.button--inactive {
      color: #ffffff;
      background-color: #168eea; }
  .button [class*=" bi-"]:before, .button [class^=bi-]:before {
    vertical-align: baseline; }

/* Base Object - Modifiers
------------------------------ */
.button--active {
  background-color: #0f63a4; }
  .button--active:active, .button--active:hover {
    background-color: #0f63a4 !important; }

.button--inactive {
  opacity: 0.2;
  cursor: not-allowed; }

.button--secondary {
  color: #168eea;
  background-color: #ffffff;
  border-color: #168eea; }
  .button--secondary:active {
    color: #168eea !important;
    background-color: rgba(22, 142, 234, 0.1) !important;
    border-color: #168eea !important; }
    .button--secondary:active.button--inactive {
      background-color: #ffffff !important; }
  .button--secondary:hover {
    color: #137ac9;
    background-color: #ffffff;
    border-color: #137ac9; }
    .button--secondary:hover.button--inactive {
      color: #168eea;
      background-color: #ffffff;
      border-color: #168eea; }
    .button--secondary:hover i.bi {
      color: #137ac9; }
  .button--secondary i.bi {
    color: #168eea; }

.button--tertiary {
  color: #666c72;
  background-color: transparent;
  border-color: #ced7df; }
  .button--tertiary:active {
    color: #323b43 !important;
    background-color: rgba(50, 59, 67, 0.1) !important;
    border-color: #323b43 !important; }
    .button--tertiary:active.button--inactive {
      color: #666c72 !important;
      background-color: transparent !important;
      border-color: #ced7df !important; }
  .button--tertiary:hover {
    color: #323b43;
    background-color: transparent;
    border-color: #323b43; }
    .button--tertiary:hover.button--inactive {
      color: #666c72;
      background-color: transparent;
      border-color: #ced7df; }

.button--warning {
  color: #ff1e1e;
  background-color: #ffffff;
  border-color: #ff1e1e; }
  .button--warning:active {
    color: #ff1e1e !important;
    background-color: rgba(255, 30, 30, 0.1) !important; }
    .button--warning:active.button--inactive {
      color: #ff1e1e !important;
      background-color: #ffffff !important;
      border-color: #ff1e1e !important; }
  .button--warning:hover {
    color: #ff1e1e !important;
    background-color: #ffffff; }
    .button--warning:hover.button--inactive {
      color: #ff1e1e;
      background-color: #ffffff;
      border-color: #ff1e1e; }
    .button--warning:hover i.bi {
      color: #ffffff; }
  .button--warning i.bi {
    color: #ff1e1e; }

/* Base Objects
------------------------------------------------------------ */
.button .bi {
  color: #ffffff; }

/* Global Reset // We'll pull in a common reset here, perhaps in another file!
------------------------------------------------------------ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* Shades Palette
------------------------------------------------------------ */
/* Primary Palette
------------------------------------------------------------ */
/* Blues
------------------------------ */
/* Grays
------------------------------ */
/* Others
------------------------------ */
/* Brands Palette
------------------------------------------------------------ */
/* Font
------------------------------------------------------------ */
/* Border Radii
------------------------------------------------------------ */
/* Box Shadows
------------------------------------------------------------ */
/* Animation
------------------------------------------------------------ */
/* Base Object
------------------------------------------------------------ */
.card {
  padding: 30px 20px;
  background-color: #ffffff;
  border: 1px solid #ced7df;
  border-radius: 4px; }

/* Base Object - Modifiers
------------------------------ */
.card--last {
  margin-bottom: 0; }

.card--empty {
  border-style: dashed; }

.card--no-border {
  border: 0; }

/* Global Reset // We'll pull in a common reset here, perhaps in another file!
------------------------------------------------------------ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* Shades Palette
------------------------------------------------------------ */
/* Primary Palette
------------------------------------------------------------ */
/* Blues
------------------------------ */
/* Grays
------------------------------ */
/* Others
------------------------------ */
/* Brands Palette
------------------------------------------------------------ */
/* Font
------------------------------------------------------------ */
/* Border Radii
------------------------------------------------------------ */
/* Box Shadows
------------------------------------------------------------ */
/* Animation
------------------------------------------------------------ */
/* Base Object
------------------------------------------------------------ */
.input {
  margin: 0;
  padding: 0 10px;
  height: 32px;
  font-family: "open sans", sans-serif;
  font-size: 14px;
  color: #323b43;
  border: 1px solid #ced7df;
  border-radius: 2px;
  outline: none;
  transition: border-color 0.1s linear; }
  .input:focus {
    border-color: #168eea; }
  .input::-webkit-input-placeholder {
    color: #ced7df; }
  .input:-moz-placeholder {
    /* Firefox 18- */
    color: #ced7df; }
  .input::-moz-placeholder {
    /* Firefox 19+ */
    color: #ced7df; }
  .input:-ms-input-placeholder {
    color: #ced7df; }

/* Base Objects
------------------------------------------------------------ */
.input-label {
  display: block;
  margin-bottom: 10px;
  font-size: 12px;
  color: #323b43; }

.input-with-icon-left,
.input-with-icon-right {
  position: relative;
  display: inline-block; }

.input-with-icon-left .bi,
.input-with-icon-right .bi {
  position: absolute;
  top: 5px;
  margin: 0; }

.input-with-icon-left .bi {
  left: 10px; }

.input-with-icon-right .bi {
  right: 10px; }

/* Base Object - Modifiers
------------------------------ */
.input--icon-left {
  padding-left: 34px; }

.input--icon-right {
  padding-right: 34px; }

/* Global Reset // We'll pull in a common reset here, perhaps in another file!
------------------------------------------------------------ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* Shades Palette
------------------------------------------------------------ */
/* Primary Palette
------------------------------------------------------------ */
/* Blues
------------------------------ */
/* Grays
------------------------------ */
/* Others
------------------------------ */
/* Brands Palette
------------------------------------------------------------ */
/* Font
------------------------------------------------------------ */
/* Border Radii
------------------------------------------------------------ */
/* Box Shadows
------------------------------------------------------------ */
/* Animation
------------------------------------------------------------ */
/* Base Object
------------------------------------------------------------ */
.bi {
  margin-right: 10px; }

.bi-circle-appdotnet[class*="bi-"],
.bi-circle-facebook[class*="bi-"],
.bi-circle-google-plus[class*="bi-"],
.bi-circle-linkedin[class*="bi-"],
.bi-circle-pinterest[class*="bi-"],
.bi-circle-twitter[class*="bi-"] {
  border: none; }

.bi-circle-appdotnet[class*="bi-"]::before,
.bi-circle-facebook[class*="bi-"]::before,
.bi-circle-google-plus[class*="bi-"]::before,
.bi-circle-linkedin[class*="bi-"]::before,
.bi-circle-pinterest[class*="bi-"]::before,
.bi-circle-twitter[class*="bi-"]::before {
  background-color: #ffffff;
  border-radius: 50%; }

.bi-circle-appdotnet {
  color: #4a484c; }

.bi-circle-facebook {
  color: #3b5998; }

.bi-circle-google-plus {
  color: #dd4b39; }

.bi-circle-linkedin {
  color: #007bb6; }

.bi-circle-pinterest {
  color: #bd081c; }

.bi-circle-twitter {
  color: #55acee; }

/* Base Object - Modifiers
------------------------------ */
.bi--right {
  margin-right: 0;
  margin-left: 10px; }

/* Global Reset // We'll pull in a common reset here, perhaps in another file!
------------------------------------------------------------ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* Shades Palette
------------------------------------------------------------ */
/* Primary Palette
------------------------------------------------------------ */
/* Blues
------------------------------ */
/* Grays
------------------------------ */
/* Others
------------------------------ */
/* Brands Palette
------------------------------------------------------------ */
/* Font
------------------------------------------------------------ */
/* Border Radii
------------------------------------------------------------ */
/* Box Shadows
------------------------------------------------------------ */
/* Animation
------------------------------------------------------------ */
/* Base Object
------------------------------------------------------------ */
.metabar {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-content: stretch;
  display: flex;
  margin-bottom: 20px;
  padding: 10px;
  font-size: 11px;
  font-weight: 600;
  background-color: #f4f7f9;
  border-right: 1px solid #ced7df;
  border-bottom: 1px solid #ced7df;
  border-left: 1px solid #ced7df;
  border-radius: 0 0 4px 4px; }
  .metabar:hover .metabar-menu-item {
    display: inherit; }
  .metabar ul {
    margin: 0;
    padding: 0;
    list-style: none; }
  .metabar [class*=" bi-"]:before, .metabar [class^=bi-]:before {
    vertical-align: baseline; }

/* Base Object - Modifiers
------------------------------ */
.metabar--analytics {
  padding: 0; }

/* Base Objects
------------------------------------------------------------ */
.metabar-time {
  flex-grow: 0; }

.metabar-time-zone {
  flex-grow: 0;
  font-weight: normal; }

.metabar-profile-picture {
  flex-grow: 0;
  margin-left: 20px;
  border: 1px solid #ced7df;
  border-radius: 256px; }

.metabar-user-name {
  flex-grow: 0;
  margin-left: 10px; }

.metabar-via {
  flex-grow: 0;
  margin-left: 20px; }

.metabar-tag {
  flex-grow: 0;
  margin-left: 20px; }

.metabar-menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-grow: 1; }

.metabar-menu-item {
  display: none;
  margin: 0 0 0 20px;
  padding: 0; }
  .metabar-menu-item a {
    color: #59626a;
    display: block; }
    .metabar-menu-item a:hover {
      color: #168eea; }

.metabar-metrics {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-grow: 1; }

.metabar-metrics-item {
  flex-grow: 1;
  margin: 0;
  padding: 10px 0;
  text-align: center;
  border-right: 1px solid #ced7df; }

.metabar-metrics-item-label {
  margin-left: 2px;
  font-weight: normal; }

/* Base Objects - Modifiers
------------------------------ */
.metabar-time--pinned {
  margin-left: -12px;
  padding-left: 10px;
  color: #ffffff;
  background-color: #168eea;
  border-radius: 1px 0 0 1px; }

.metabar-time--pinned-arrow {
  margin-right: -8px;
  width: 0;
  height: 0;
  border-top: 10.5px solid transparent;
  border-bottom: 10.5px solid transparent;
  border-left: 10px solid #168eea; }

.metabar-metrics-item--last {
  border-right: 0; }

/* Global Reset // We'll pull in a common reset here, perhaps in another file!
------------------------------------------------------------ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* Shades Palette
------------------------------------------------------------ */
/* Primary Palette
------------------------------------------------------------ */
/* Blues
------------------------------ */
/* Grays
------------------------------ */
/* Others
------------------------------ */
/* Brands Palette
------------------------------------------------------------ */
/* Font
------------------------------------------------------------ */
/* Border Radii
------------------------------------------------------------ */
/* Box Shadows
------------------------------------------------------------ */
/* Animation
------------------------------------------------------------ */
/* Base Object
------------------------------------------------------------ */
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  background-color: rgba(42, 46, 50, 0.9);
  opacity: 0;
  pointer-events: none; }
  .modal:target {
    opacity: 1;
    pointer-events: auto; }

.modal .card {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  width: 960px;
  max-height: 80%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  transform: translate(-50%, -50%); }

.modal-content {
  position: relative;
  width: 100%; }

.modal-content .modal-exit {
  position: absolute;
  top: -25px;
  right: -10px;
  color: #666c72; }
  .modal-content .modal-exit:hover {
    color: #323b43; }

.modal-content .modal-exit .bi {
  margin-right: 0; }

/* Global Reset // We'll pull in a common reset here, perhaps in another file!
------------------------------------------------------------ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* Shades Palette
------------------------------------------------------------ */
/* Primary Palette
------------------------------------------------------------ */
/* Blues
------------------------------ */
/* Grays
------------------------------ */
/* Others
------------------------------ */
/* Brands Palette
------------------------------------------------------------ */
/* Font
------------------------------------------------------------ */
/* Border Radii
------------------------------------------------------------ */
/* Box Shadows
------------------------------------------------------------ */
/* Animation
------------------------------------------------------------ */
/* Base Object
------------------------------------------------------------ */
.navbar {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  z-index: 1;
  display: flex;
  margin-bottom: 32px;
  padding: 0 16px;
  width: 100%;
  height: 62px;
  font-size: 14px;
  line-height: 62px;
  background-color: #ffffff;
  border-bottom: 1px solid #ced7df; }

/* Base Objects
------------------------------------------------------------ */
.navbar-title {
  flex-grow: 0;
  margin-right: 50px; }

.navbar-menu-left,
.navbar-menu-right {
  display: flex;
  flex-direction: row;
  margin: 0;
  list-style: none; }

.navbar-menu-left {
  justify-content: flex-start;
  flex-grow: 1; }

.navbar-menu-right {
  justify-content: flex-end;
  flex-grow: 0; }

.navbar-menu-item {
  margin: 0 50px 0 0; }
  .navbar-menu-item a {
    display: inline-block;
    color: #666c72; }

.navbar-menu-item-profile-picture {
  vertical-align: middle;
  display: inline-block !important;
  margin-right: 10px; }

/* Base Object - Modifiers
------------------------------------------------------------ */
.navbar-menu-item a.navbar-menu-item--active {
  margin-right: -10px;
  margin-left: -10px;
  padding-right: 10px;
  padding-left: 10px;
  color: #323b43;
  box-shadow: inset 0 -2px #168eea; }

.navbar-menu-item--last {
  margin-right: 0; }

/* Global Reset // We'll pull in a common reset here, perhaps in another file!
------------------------------------------------------------ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* Shades Palette
------------------------------------------------------------ */
/* Primary Palette
------------------------------------------------------------ */
/* Blues
------------------------------ */
/* Grays
------------------------------ */
/* Others
------------------------------ */
/* Brands Palette
------------------------------------------------------------ */
/* Font
------------------------------------------------------------ */
/* Border Radii
------------------------------------------------------------ */
/* Box Shadows
------------------------------------------------------------ */
/* Animation
------------------------------------------------------------ */
/* Base Object
------------------------------------------------------------ */
.notification {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: stretch;
  padding: 20px;
  color: #ffffff;
  background-color: #168eea; }

/* Base Objects
------------------------------------------------------------ */
.notification p {
  flex-grow: 1;
  align-self: center;
  margin: 0 20px 0 0; }

.notification a .bi {
  color: #ffffff; }

.notification i {
  flex-grow: 0;
  margin-right: 0; }

/* Base Object - Modifiers
------------------------------------------------------------ */
.notification--warning {
  color: #323b43;
  background-color: rgba(241, 203, 58, 0.2); }

.notification--warning a .bi {
  color: #f1cb3a; }

.notification--error {
  color: #323b43;
  background-color: rgba(255, 30, 30, 0.2); }

.notification--error a .bi {
  color: #ff1e1e; }

.notification--success {
  color: #323b43;
  background-color: rgba(47, 213, 102, 0.2); }

.notification--success a .bi {
  color: #2fd566; }

/* Global Reset // We'll pull in a common reset here, perhaps in another file!
------------------------------------------------------------ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* Shades Palette
------------------------------------------------------------ */
/* Primary Palette
------------------------------------------------------------ */
/* Blues
------------------------------ */
/* Grays
------------------------------ */
/* Others
------------------------------ */
/* Brands Palette
------------------------------------------------------------ */
/* Font
------------------------------------------------------------ */
/* Border Radii
------------------------------------------------------------ */
/* Box Shadows
------------------------------------------------------------ */
/* Animation
------------------------------------------------------------ */
/* Base Object
------------------------------------------------------------ */
/* Base Objects - Modifiers
------------------------------ */
.post--failed .post-content {
  border-top: 1px solid #ff1e1e;
  border-right: 1px solid #ff1e1e;
  border-left: 1px solid #ff1e1e; }

.post--failed .metabar {
  border-right: 1px solid #ff1e1e;
  border-bottom: 1px solid #ff1e1e;
  border-left: 1px solid #ff1e1e; }

/* Base Objects
------------------------------------------------------------ */
.post-content {
  flex-direction: row;
  justify-content: flex-start;
  align-content: stretch;
  display: flex;
  background-color: #ffffff;
  border: 1px solid #ced7df;
  border-radius: 4px 4px 0 0; }

.post-content-text {
  flex-grow: 1;
  padding: 30px 20px; }

.post-content-image {
  flex-grow: 0;
  padding: 20px 20px 20px 0; }
  .post-content-image img {
    display: block;
    max-width: 200px;
    max-height: 100px;
    border-radius: 4px; }

.post-content-video {
  flex-grow: 0;
  padding: 20px 20px 20px 0; }
  .post-content-video iframe {
    max-width: 200px;
    max-height: 100px; }

/* Global Reset // We'll pull in a common reset here, perhaps in another file!
------------------------------------------------------------ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* Shades Palette
------------------------------------------------------------ */
/* Primary Palette
------------------------------------------------------------ */
/* Blues
------------------------------ */
/* Grays
------------------------------ */
/* Others
------------------------------ */
/* Brands Palette
------------------------------------------------------------ */
/* Font
------------------------------------------------------------ */
/* Border Radii
------------------------------------------------------------ */
/* Box Shadows
------------------------------------------------------------ */
/* Animation
------------------------------------------------------------ */
/* Base Object
------------------------------------------------------------ */
.profile-picture {
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 256px; }

/* Base Object - Modifiers
------------------------------ */
.profile-picture--inactive {
  filter: grayscale(1);
  opacity: 0.5; }
  .profile-picture--inactive .profile-picture-icon .bi {
    color: #323b43; }

.profile-picture--small {
  width: 16px;
  height: 16px; }

/* Profile Picture with Icon Object
------------------------------------------------------------ */
.profile-picture-with-icon {
  position: relative; }

.profile-picture-icon {
  position: absolute;
  top: 12px;
  left: 16px;
  margin-right: 0;
  font-size: 16px; }

/* Global Reset // We'll pull in a common reset here, perhaps in another file!
------------------------------------------------------------ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* Shades Palette
------------------------------------------------------------ */
/* Primary Palette
------------------------------------------------------------ */
/* Blues
------------------------------ */
/* Grays
------------------------------ */
/* Others
------------------------------ */
/* Brands Palette
------------------------------------------------------------ */
/* Font
------------------------------------------------------------ */
/* Border Radii
------------------------------------------------------------ */
/* Box Shadows
------------------------------------------------------------ */
/* Animation
------------------------------------------------------------ */
/* Base
------------------------------------------------------------ */
.sidebar {
  flex-direction: column;
  justify-content: flex-start;
  position: fixed;
  z-index: 1;
  display: flex;
  margin-top: 96px;
  width: 250px;
  min-height: 100vh;
  order: -1; }

/* Style Guide
------------------------------------------------------------ */
.sidebar .card {
  margin-left: 20px; }

/* App
------------------------------------------------------------ */
.sidebar-app {
  background-color: #f8f8f8;
  border-right: 1px solid #ced7df; }

.sidebar-app-search-profiles {
  flex-grow: 0;
  padding: 20px;
  border-bottom: 1px solid #ced7df; }

.sidebar-app-search-profiles input {
  width: 100%; }

.sidebar-app-accounts {
  flex-direction: row;
  justify-content: flex-start;
  flex-grow: 0;
  display: flex;
  padding: 20px;
  border-bottom: 1px solid #ced7df; }

.sidebar-app-accounts-button {
  flex-grow: 1;
  align-self: center;
  text-align: center; }

.sidebar-app-connected-accounts {
  flex-grow: 0; }

.sidebar-app-connected-account {
  flex-direction: row;
  justify-content: flex-start;
  display: flex;
  padding: 20px;
  border-bottom: 1px solid #ced7df; }

.sidebar-app-connected-account-profile-picture {
  flex-grow: 0;
  align-self: center;
  margin-right: 20px; }

.sidebar-app-connected-account-name {
  flex-grow: 1;
  align-self: center;
  margin-right: 20px;
  overflow: hidden; }

.sidebar-app-connected-account-tag {
  align-self: center; }

.sidebar-app-footer {
  flex-grow: 1;
  position: relative; }

.sidebar-app-footer-list {
  position: absolute;
  bottom: 20px;
  list-style: none; }

.sidebar-app-footer-list-item {
  display: inline-block;
  margin-right: 20px; }

/* SideBar App Objects - Modifiers
------------------------------ */
.sidebar-app-connected-account--active {
  margin-right: -1px;
  background-color: #ffffff; }

/* Global Reset // We'll pull in a common reset here, perhaps in another file!
------------------------------------------------------------ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* Shades Palette
------------------------------------------------------------ */
/* Primary Palette
------------------------------------------------------------ */
/* Blues
------------------------------ */
/* Grays
------------------------------ */
/* Others
------------------------------ */
/* Brands Palette
------------------------------------------------------------ */
/* Font
------------------------------------------------------------ */
/* Border Radii
------------------------------------------------------------ */
/* Box Shadows
------------------------------------------------------------ */
/* Animation
------------------------------------------------------------ */
/* Base Object
------------------------------------------------------------ */
.tag {
  padding: 0 10px;
  height: 18px;
  font-size: 11px;
  font-weight: 600;
  line-height: 18px;
  color: #59626a;
  background-color: #ced7df;
  border-radius: 2px; }

/* Base Object - Modifiers
------------------------------ */
.tag--primary,
.tag--error {
  color: #ffffff; }

.tag--primary {
  background-color: #168eea; }

.tag--error {
  background-color: #ff1e1e; }
