/**
 * Buffer style guide root file
 *
 * Only imports of SCSS files at this level. These files are meant to be
 * consumed by other projects. Do not include SCSS meant for the presentation
 * of the style guide website itself.
 */
/* Global
-------------------------------------------------- */
/* Global Reset // We'll pull in a common reset here.
-------------------------------------------------- */
* {
  margin: 0;
  padding: 0; }

/* Gray Palette
-------------------------------------------------- */
/* Primary Palette
-------------------------------------------------- */
/* Brand Palette
-------------------------------------------------- */
/* Font
-------------------------------------------------- */
/* Depths (z-indexs)
-------------------------------------------------- */
/* Shadows
-------------------------------------------------- */
/* Global
-------------------------------------------------- */
/* Global Reset // We'll pull in a common reset here.
-------------------------------------------------- */
* {
  margin: 0;
  padding: 0; }

/* Gray Palette
-------------------------------------------------- */
/* Primary Palette
-------------------------------------------------- */
/* Brand Palette
-------------------------------------------------- */
/* Font
-------------------------------------------------- */
/* Depths (z-indexs)
-------------------------------------------------- */
/* Shadows
-------------------------------------------------- */
/* Body
-------------------------------------------------- */
body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #59626a; }

/* Headings
-------------------------------------------------- */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #323b43; }

h1 {
  font-size: 32px;
  font-weight: 100;
  line-height: 48px; }

h2,
h3,
h4 {
  font-weight: 600; }

h2 {
  font-size: 24px;
  line-height: 36px; }

h3 {
  font-size: 20px;
  line-height: 30px; }

h4 {
  font-size: 18px;
  line-height: 27px; }

h5 {
  font-size: 16px;
  line-height: 24px; }

h6 {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

/* Global
-------------------------------------------------- */
/* Global Reset // We'll pull in a common reset here.
-------------------------------------------------- */
* {
  margin: 0;
  padding: 0; }

/* Gray Palette
-------------------------------------------------- */
/* Primary Palette
-------------------------------------------------- */
/* Brand Palette
-------------------------------------------------- */
/* Font
-------------------------------------------------- */
/* Depths (z-indexs)
-------------------------------------------------- */
/* Shadows
-------------------------------------------------- */
.Card {
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(98, 119, 133, 0.25); }
