@import "../base/variables";

.Button {
  display: inline-block;
  padding: 8px 24px;
  font-family: $font-family;
  font-size: $font-size;
  color: $white;
  background-color: $curious-blue;
  border: 1px solid transparent;
  border-radius: 256px;
  cursor: pointer;
  outline: none;
  transition: background-color $transition-animation-time $transition-animation-type;

  &:active {
    background-color: $tory-blue !important;
  }

  &:hover {
    color: $white;
    background-color: $denim;
  }

  [class*=" bi-"]:before, [class^=bi-]:before {
    vertical-align: baseline;
  }

  &.Button--in-app {
    padding: 4px 16px;
  }

  .bi {
    color: $white;
  }
}

.Button--active {
  background-color: $tory-blue;

  &:active,
  &:hover {
    background-color: $tory-blue !important;
  }
}

.Button--secondary {
  color: $curious-blue;
  background-color: $white;
  border-color: $curious-blue;

  &:active {
    color: $curious-blue !important;
    background-color: rgba($curious-blue, 0.1) !important;
    border-color: $curious-blue !important;
  }

  &:hover {
    color: $denim;
    background-color: $white;
    border-color: $denim;
  }

  i.bi {
    color: $curious-blue;
  }
}

.Button--tertiary {
  color: $nevada;
  background-color: transparent;
  border-color: $geyser;

  &:active {
    color: $outer-space !important;
    background-color: rgba($outer-space, 0.1) !important;
    border-color: $outer-space !important;
  }

  &:hover {
    color: $outer-space;
    background-color: transparent;
    border-color: $outer-space;
  }
}

.Button--borderless {
  color: $curious-blue;
  background-color: transparent;
  border: 0;

  &:hover {
    color: $denim;
    background-color: transparent;
  }

  &:active {
    color: $denim;
    background-color: transparent !important;
  }
}

.Button--warning {
  color: $torch-red;
  background-color: $white;
  border-color: $torch-red;

  &:active {
    color: $torch-red !important;
    background-color: rgba($torch-red, 0.1) !important;
  }

  &:hover {
    color: $torch-red !important;
    background-color: $white;

    i.bi {
      color: $white;
    }
  }

  i.bi {
    color: $torch-red;
  }
}

.Button--small {
  padding: 2px 10px;
  font-size: 11px;
}

.ButtonIcon {
  align-self: center;
  width: 16px;
  height: 16px;
  font-size: 16px;
  line-height: 12px;
  background-color: transparent;
  border: 0;
}
