@import "../base/variables";

// Button
.Button {
  display: inline-block;
  padding: 8px 24px;
  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height;
  color: $white;
  background-color: $curious-blue;
  border: 1px solid transparent;
  border-radius: 256px;
  cursor: pointer;
  outline: none;
  transition: background-color $transition-animation-time $transition-animation-type;
}

.Button:active {
  background-color: $tory-blue !important;
}

.Button:hover {
  color: $white;
  text-decoration: none;
  background-color: $denim;
}

.Button [class*=" bi-"]:before,
.Button [class^=bi-]:before {
  vertical-align: baseline;
}

.Button .bi {
  color: $white;
}

// Button - Modifiers
.Button--state-error {
  color: $torch-red;
  background-color: transparent;
  border-color: $torch-red;
}

.Button--state-error:active {
  color: $torch-red !important;
  background-color: rgba($torch-red, 0.1) !important;
}

.Button--state-error:hover {
    color: $torch-red !important;
    background-color: transparent;
}

.Button--state-error:hover i.bi {
  color: $white;
}

.Button--state-error i.bi {
  color: $torch-red;
}

.Button--type-borderless {
  color: $curious-blue;
  background-color: transparent;
  border: 0;
}

.Button--type-borderless:hover {
  color: $denim;
  background-color: transparent;
}

.Button--type-borderless:active {
  color: $denim;
  background-color: transparent !important;
}

.Button--type-in-app {
  padding: 4px 16px;
}

.Button--type-secondary {
  color: $curious-blue;
  background-color: transparent;
  border-color: $curious-blue;
}

.Button--type-secondary:active {
  color: $curious-blue !important;
  background-color: rgba($curious-blue, 0.1) !important;
  border-color: $curious-blue !important;
}

.Button--type-secondary:hover {
  color: $denim;
  background-color: transparent;
  border-color: $denim;
}

.Button--type-secondary i.bi {
  color: $curious-blue;
}

.Button--type-small {
  padding: 2px 10px;
  font-size: 11px;
}

.Button--type-tertiary {
  color: $nevada;
  background-color: transparent;
  border-color: $geyser;
}

.Button--type-tertiary i.bi {
  color: $nevada;
}

.Button--type-tertiary:active {
  color: $outer-space !important;
  background-color: rgba($outer-space, 0.1) !important;
  border-color: $outer-space !important;
}

.Button--type-tertiary:active i.bi {
  color: $outer-space !important;
}

.Button--type-tertiary:hover {
  color: $outer-space;
  background-color: transparent;
  border-color: $outer-space;
}

.Button--type-tertiary:hover i.bi {
  color: $outer-space;
}

// ButtonIcon
.ButtonIcon {
  align-self: center;
  width: 16px;
  height: 16px;
  font-size: 16px;
  line-height: 12px;
  background-color: transparent;
  border: 0;
}
