@import "../base/variables";

/* Base Object
------------------------------------------------------------ */
.card {
  padding: 16px;

  background-color: $whiteColor;
  border: 1px solid $borderColor;
  border-radius: $borderRadiusLevel1;
}

/* Base Object - Modifiers
------------------------------ */
.card--last {
  margin-bottom: 0;
}

.card--empty {
  border: 1px dashed $borderColor;
}

/* Post & Analytics Shared Objects
------------------------------------------------------------ */
.card-post,
.card-post-analytics {
  margin-bottom: 16px;
}

.card-post,
.card-post-analytics {
  padding: 0;
}

.card-post-content,
.card-post-analytics-content {
  padding: 16px;
}

.card-post-content p,
.card-post-analytics-content p {
  margin: 0;
}

.card-post-meta,
.card-post-analytics-meta {
  flex-direction: row;
  justify-content: flex-start;

  display: flex;
  padding: 0 16px;
  height: 32px;

  line-height: 32px;

  background-color: $backgroundFillColor;
  border-top: 1px solid $borderColor;
  border-radius: 0 0 7px 7px;

  font-size: 10px;
}

.card-post-meta-time-zone,
.card-post-analytics-meta-time-zone {
  font-weight: normal;
}

/* Post Objects
------------------------------------------------------------ */
.card-post-stat {
  font-weight: bold;

  color: $titleColor;
}

.card-post-meta {
  &:hover {
    .card-post-meta-menu {
      opacity: 1;
    }
  }
  &::after {
    clear: both;
  }
}

.card-post-meta-time-pinned {
  flex-grow: 0;
  position: relative;

  margin: 2px 16px 2px -18px;
  padding-left: 16px;
  height: 27px;

  line-height: 27px;
  color: $whiteColor;

  background-color: $actionableColor;
  border-right: 0;
  border-radius: 2px 0 0 2px;
}

.card-post-meta-time-pinned .card-post-meta-time {
  color: $whiteColor;
}

 .card-post-meta-time-pinned-arrow {
  position: absolute;
  top: 0;
  right: -8px;

  width: 0;
  height: 0;

  border-top: 13.5px solid transparent;
  border-bottom: 13.5px solid transparent;
  border-left: 8px solid $actionableColor;
}

.card-post-meta-tag {
  flex-grow: 0;

  margin: 7px 8px 7px 0;
}

.card-post-meta-time {
  flex-grow: 0;

  margin-right: 8px;

  font-weight: 600;
}

.card-post-meta-via {
  flex-grow: 0;
}

.card-post-meta-user {
  flex-direction: row;
  justify-content: flex-start;
  flex-grow: 1;

  display: flex;

  margin: 4px 0 4px 16px;
  padding: 4px 0;
}

.card-post-meta-user-name {
  margin-left: 8px;

  font-weight: 600;
  line-height: normal;
}

.card-post-meta-user-profile-picture {
  flex-grow: 0;
}

.card-post-meta-user-name {
  flex-grow: 1;
}

.card-post-meta-menu {
  flex-direction: row;
  justify-content: flex-start;
  flex-grow: 0;

  display: flex;

  margin: 0;

  list-style: none;

  opacity: 0;
}

.card-post-meta-menu-item {
  flex-grow: 1;

  margin: 0 16px 0 0;

  & a {
    display: block;

    color: $titleColor;

    &:hover {
      color: $blackColor;
    }
  }
}

/* Post Objects - Modifiers
------------------------------ */
.card-post-meta-menu-item--last {
  margin-right: 0;
}

.card-post-meta-time--pinned {
  color: $whiteColor;
}

/* Analytics Objects
------------------------------------------------------------ */
.card-post-analytics {
  padding-bottom: 0;
}

.card-post-analytics-posted {
  margin-top: 8px;
  height: 21px;

  font-size: 10px;
}

.card-post-analytics-posted-time,
.card-post-analytics-posted-via {
  float: left;
}

.card-post-analytics-posted-via {
  margin-left: 8px;
}

.card-post-analytics-meta-data-stat {
  flex-grow: 1;

  text-align: center;
}
