@import "../base/variables";

/* Base Object
------------------------------------------------------------ */
.card {
  padding: 30px 20px;

  background-color: $white;
  border: 1px solid $geyser;
  border-radius: $border-radius-level-1;
}

/* Base Object - Modifiers
------------------------------ */
.card--last {
  margin-bottom: 0;
}

.card--empty {
  border-style: dashed;
}

.card--no-border {
  border: 0;
}
