@import "../base/variables";

// Block
.Block {
  padding: 64px 0;
}

.Block .bi {
  margin-right: 8px;
}

.Block .bi.bi--right {
  margin-right: 0;
  margin-left: 8px;
}

.Block .bi.bi--shamrock {
  color: $shamrock;
}

// Block - Elements
.Block__content-block {
  margin-top: 32px;
}

.Block__content-block h2,
.Block__content-block h3 {
  margin-bottom: 0;
}

// Block - Element - Modifiers
.Block__content-block--top {
  margin-top: 0;
}

.Block__content--center {
  text-align: center;
}

.Block__content--center img {
  margin: 0 auto;
}

.Block__content--left {
  text-align: left;
}

.Block__content--no-margin h1,
.Block__content--no-margin h2,
.Block__content--no-margin h3,
.Block__content--no-margin h4,
.Block__content--no-margin h5,
.Block__content--no-margin h6 {
  margin-bottom: 0;
}

.Block__content--right {
  text-align: right;
}

// BlockAlternative
.BlockAlternative {
  background-color: $aqua-haze;
}

// BlockCaseStudies
.BlockCaseStudies {
  padding-bottom: 48px;
}

.BlockCaseStudies a:hover {
  text-decoration: none;
}

// BlockContent
.BlockContent .GridContainer {
  @media screen and (max-width: 768px) { width: 100%; }
}

.BlockContent .GridContainer {
  @media screen and (min-width: 769px) and (max-width: 959px) { width: 100%; }
}

.BlockContent .GridContainer {
  @media screen and (min-width: 1024px) { width: 640px; }
}

// BlockDark
.BlockDark {
  text-align: center;
  background-color: $outer-space;
}

.BlockDark h2,
.BlockDark h3 {
  margin-bottom: 0;
}

.BlockDark h2 {
  color: $white;
}

.BlockDark h3 {
  color: rgba($white, 0.8);
}

.BlockDark p {
  color: rgba($white, 0.6);
}

.BlockDark .Button {
  margin-top: 32px;
}

// BlockFooter
.BlockFooter {
  background-color: $aqua-haze;
}

.BlockFooter h5 {
  margin-top: 0;
  margin-bottom: 16px;
}

.BlockFooter ul {
  margin: 0 0 32px 0;
}

.BlockFooter p {
  margin-bottom: 0;
}

// BlockFooter - Elements
.BlockFooter__copyright a {
  color: $shuttle-gray;
}

// BlockGrid
.BlockGrid h3,
.BlockGrid h4,
.BlockGrid p {
  margin-bottom: 0;
}

.BlockGrid .ProfilePicture {
  margin-top: 16px;
}

// BlockGrid - Elements
.BlockGrid__title {
  margin-top: 32px;
}

// BlockHero
.BlockHero {
  padding-top: 128px;
  padding-bottom: 128px;
  text-align: center;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}

.BlockHero h2,
.BlockHero h3 {
  margin-bottom: 0;
  color: $white;
}

.BlockHero h3 {
  color: rgba($white, 0.5);
}

.BlockHero p {
  margin-bottom: 0;
}

.BlockHero .Button {
  margin-top: 32px;
}
