@import "../base/variables";

* {
  box-sizing: border-box;
}

[class*="Column"],
[class*="Columns"] {
  float: left;
  padding: 16px;
  width: 100%;
}

.GridRow {
  &::after {
    display: block;
    clear: both;
    content: "";
  }

  img {
      max-width: 100%;
      height: auto;
  }
}

.GridContainer {
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .GridContainer {
    width: 100%;
  }

  .OneColumn--medium {
    width: 8.33%;
  }

  .TwoColumns--medium {
    width: 16.66%;
  }

  .ThreeColumns--medium {
    width: 25%;
  }

  .FourColumns--medium {
    width: 33.33%;
  }

  .FiveColumns--medium {
    width: 41.66%;
  }

  .SixColumns--medium {
    width: 50%;
  }

  .SevenColumns--medium {
    width: 58.33%;
  }

  .EightColumns--medium {
    width: 66.66%;
  }

  .NineColumns--medium {
    width: 75%;
  }

  .TenColumns--medium {
    width: 83.33%;
  }

  .ElevenColumns--medium {
    width: 91.66%;
  }

  .TwelveColumns--medium {
    width: 100%;
  }
}

@media screen and (min-width: 769px) and (max-width: 959px) {
  .GridContainer {
    width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  .GridContainer {
    width: 960px;
  }

  .OneColumn--large {
    width: 8.33%;
  }

  .TwoColumns--large {
    width: 16.66%;
  }

  .ThreeColumns--large {
    width: 25%;
  }

  .FourColumns--large {
    width: 33.33%;
  }

  .FiveColumns--large {
    width: 41.66%;
  }

  .SixColumns--large {
    width: 50%;
  }

  .SevenColumns--large {
    width: 58.33%;
  }

  .EightColumns--large {
    width: 66.66%;
  }

  .NineColumns--large {
    width: 75%;
  }

  .TenColumns--large {
    width: 83.33%;
  }

  .ElevenColumns--large {
    width: 91.66%;
  }

  .TwelveColumns--large {
    width: 100%;
  }
}
