@import "../base/variables";

* {
  box-sizing: border-box;
}

[class*="column-"] {
  float: left;
  padding: 16px;
  width: 100%;
}

.grid-row {
  &::after {
    display: block;
    clear: both;
    content: "";
  }

  img {
      max-width: 100%;
      height: auto;
  }
}

.grid-container {
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .grid-container {
    width: 100%;
  }

  .one-column {
    width: 8.33%;
  }

  .two-columns {
    width: 16.66%;
  }

  .three-columns {
    width: 25%;
  }

  .four-columns {
    width: 33.33%;
  }

  .five-columns {
    width: 41.66%;
  }

  .six-columns {
    width: 50%;
  }

  .seven-columns {
    width: 58.33%;
  }

  .eight-columns {
    width: 66.66%;
  }

  .nine-columns {
    width: 75%;
  }

  .ten-columns {
    width: 83.33%;
  }

  .eleven-columns {
    width: 91.66%;
  }

  .twelve-columns {
    width: 100%;
  }
}

@media screen and (min-width: 769px) and (max-width: 959px) {
  .grid-container {
    width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  .grid-container {
    width: 960px;
  }

  .one-column {
    width: 8.33%;
  }

  .two-columns {
    width: 16.66%;
  }

  .three-columns {
    width: 25%;
  }

  .four-columns {
    width: 33.33%;
  }

  .five-columns {
    width: 41.66%;
  }

  .six-columns {
    width: 50%;
  }

  .seven-columns {
    width: 58.33%;
  }

  .eight-columns {
    width: 66.66%;
  }

  .nine-columns {
    width: 75%;
  }

  .ten-columns {
    width: 83.33%;
  }

  .eleven-columns {
    width: 91.66%;
  }

  .twelve-columns {
    width: 100%;
  }
}
