@import "../base/variables";

.Header {
  box-shadow: 0 6px 8px $Color--primary-20;

  background-color: $Color--white;
  border-bottom-color: $Color--border;
  border-style: solid;
  border-width: 1px;
  padding: ($Global--margin * 2) 0;

  h1 {
    font-size: $fontSize;
    font-weight: $fontWeight;
  }
}