@import "../base/variables";

/* Base Object
------------------------------------------------------------ */
.icon {
  display: inline-block;
  width: 16px;
  height: 16px;

  background-color: $bodyColor;

  -webkit-mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-position: center center;
  mask-repeat: no-repeat;
  mask-size: contain;
}

/* Base Object - Modifiers
------------------------------ */
.icon.icon--color-actionable {
  background-color: $actionableColor;
}

.icon.icon--color-actionable-hover {
  background-color: $actionableHoverColor;
}

.icon.icon--color-title {
  background-color: $titleColor;
}

.icon.icon--color-body {
  background-color: $bodyColor;
}

.icon.icon--color-border {
  background-color: $borderColor;
}

.icon.icon--color-border-light {
  background-color: $borderLightColor;
}

.icon.icon--color-background-fill {
  background-color: $backgroundFillColor;
}

.icon.icon--color-success {
  background-color: $successColor;
}

.icon.icon--color-error {
  background-color: $errorColor;
}

.icon.icon--color-warning {
  background-color: $warningColor;
}

.icon.icon--color-black {
  background-color: $blackColor;
}

.icon.icon--color-white {
  background-color: $whiteColor;
}

.icon.icon--color-facebook {
  background-color: $facebookColor;
}

.icon.icon--color-google-plus {
  background-color: $googlePlusColor;
}

.icon.icon--color-linkedin {
  background-color: $linkedInColor;
}

.icon.icon--color-pinterest {
  background-color: $pinterestColor;
}

.icon.icon--color-twitter {
  background-color: $twitterColor;
}

.icon--small {
  width: 12px;
  height: 12px;
}

/* Icon Analytics Object
------------------------------------------------------------ */
.icon-analytics {
  -webkit-mask-image: url(/img/icon-analytics.svg);
  mask-image: url(/img/icon-analytics.svg);
}

/* Icon Arrow Down Object
------------------------------------------------------------ */
.icon-arrow-down {
  -webkit-mask-image: url(/img/icon-arrow-down.svg);
  mask-image: url(/img/icon-arrow-down.svg);
}

/* Icon Arrow Left Object
------------------------------------------------------------ */
.icon-arrow-left {
  -webkit-mask-image: url(/img/icon-arrow-left.svg);
  mask-image: url(/img/icon-arrow-left.svg);
}

/* Icon Arrow Right Object
------------------------------------------------------------ */
.icon-arrow-right {
  -webkit-mask-image: url(/img/icon-arrow-right.svg);
  mask-image: url(/img/icon-arrow-right.svg);
}

/* Icon Arrow Up Object
------------------------------------------------------------ */
.icon-arrow-up {
  -webkit-mask-image: url(/img/icon-arrow-up.svg);
  mask-image: url(/img/icon-arrow-up.svg);
}

/* Icon Buffer Object
------------------------------------------------------------ */
.icon-buffer {
  -webkit-mask-image: url(/img/icon-buffer.svg);
  mask-image: url(/img/icon-buffer.svg);
}

/* Icon Calendar Object
------------------------------------------------------------ */
.icon-calendar {
  -webkit-mask-image: url(/img/icon-calendar.svg);
  mask-image: url(/img/icon-calendar.svg);
}

/* Icon Checkmark Object
------------------------------------------------------------ */
.icon-checkmark {
  -webkit-mask-image: url(/img/icon-checkmark.svg);
  mask-image: url(/img/icon-checkmark.svg);
}

/* Icon Circle Facebook Object
------------------------------------------------------------ */
.icon-circle-facebook {
  -webkit-mask-image: url(/img/icon-circle-facebook.svg);
  mask-image: url(/img/icon-circle-facebook.svg);
}

/* Icon Circle Google+ Object
------------------------------------------------------------ */
.icon-circle-google-plus {
  -webkit-mask-image: url(/img/icon-circle-google-plus.svg);
  mask-image: url(/img/icon-circle-google-plus.svg);
}

/* Icon Circle LinkedIn Object
------------------------------------------------------------ */
.icon-circle-linkedin {
  -webkit-mask-image: url(/img/icon-circle-linkedin.svg);
  mask-image: url(/img/icon-circle-linkedin.svg);
}

/* Icon Circle Multiply Object
------------------------------------------------------------ */
.icon-circle-multiply {
  -webkit-mask-image: url(/img/icon-circle-multiply.svg);
  mask-image: url(/img/icon-circle-multiply.svg);
}

/* Icon Circle Pinterest Object
------------------------------------------------------------ */
.icon-circle-pinterest {
  -webkit-mask-image: url(/img/icon-circle-pinterest.svg);
  mask-image: url(/img/icon-circle-pinterest.svg);
}

/* Icon Circle Plus Object
------------------------------------------------------------ */
.icon-circle-plus {
  -webkit-mask-image: url(/img/icon-circle-plus.svg);
  mask-image: url(/img/icon-circle-plus.svg);
}

/* Icon Circle Twitter Object
------------------------------------------------------------ */
.icon-circle-twitter {
  -webkit-mask-image: url(/img/icon-circle-twitter.svg);
  mask-image: url(/img/icon-circle-twitter.svg);
}

/* Icon Click Object
------------------------------------------------------------ */
.icon-click {
  -webkit-mask-image: url(/img/icon-click.svg);
  mask-image: url(/img/icon-click.svg);
}

/* Icon Comment Object
------------------------------------------------------------ */
.icon-comment {
  -webkit-mask-image: url(/img/icon-comment.svg);
  mask-image: url(/img/icon-comment.svg);
}

/* Icon Edit Object
------------------------------------------------------------ */
.icon-edit {
  -webkit-mask-image: url(/img/icon-edit.svg);
  mask-image: url(/img/icon-edit.svg);
}

/* Icon Edit Object
------------------------------------------------------------ */
.icon-export {
  -webkit-mask-image: url(/img/icon-export.svg);
  mask-image: url(/img/icon-export.svg);
}

/* Icon Image Object
------------------------------------------------------------ */
.icon-image {
  -webkit-mask-image: url(/img/icon-image.svg);
  mask-image: url(/img/icon-image.svg);
}

/* Icon Like Object
------------------------------------------------------------ */
.icon-like {
  -webkit-mask-image: url(/img/icon-like.svg);
  mask-image: url(/img/icon-like.svg);
}

/* Icon Link Object
------------------------------------------------------------ */
.icon-link {
  -webkit-mask-image: url(/img/icon-link.svg);
  mask-image: url(/img/icon-link.svg);
}

/* Icon Pricing Object
------------------------------------------------------------ */
.icon-pricing {
  -webkit-mask-image: url(/img/icon-pricing.svg);
  mask-image: url(/img/icon-pricing.svg);
}

/* Icon Retweet Object
------------------------------------------------------------ */
.icon-retweet {
  -webkit-mask-image: url(/img/icon-retweet.svg);
  mask-image: url(/img/icon-retweet.svg);
}

/* Icon Setttings Object
------------------------------------------------------------ */
.icon-settings {
  -webkit-mask-image: url(/img/icon-settings.svg);
  mask-image: url(/img/icon-settings.svg);
}

/* Icon View Object
------------------------------------------------------------ */
.icon-view {
  -webkit-mask-image: url(/img/icon-view.svg);
  mask-image: url(/img/icon-view.svg);
}
