@import "../base/variables";

/* Base Object
------------------------------------------------------------ */
.bi {
  margin-right: 10px;
}

.bi-circle-appdotnet,
.bi-circle-facebook,
.bi-circle-google-plus,
.bi-circle-linkedin,
.bi-circle-pinterest,
.bi-circle-twitter {
  &[class*="bi-"] {
    border: none;
  }

  &[class*="bi-"]::before {
    background-color: $white-100;
    border-radius: 50%;
  }
}

.bi-circle-appdotnet {
  color: $appdotnet;
}

.bi-circle-facebook {
  color: $facebook;
}

.bi-circle-google-plus {
  color: $googleplus;
}

.bi-circle-linkedin {
  color: $linkedin;
}

.bi-circle-pinterest {
  color: $pinterest;
}

.bi-circle-twitter {
  color: $twitter;
}

/* Base Object - Modifiers
------------------------------ */
.bi--right {
  margin-right: 0;
  margin-left: 10px;
}
