@import "../base/variables";

/* Base Objects
------------------------------------------------------------ */
.input {
  margin: 0;
  padding: 0 10px;
  height: 32px;

  font-family: $font-family;
  font-size: $font-size;
  color: $limed-spruce;

  border: 1px solid $geyser;
  border-radius: $border-radius-level-2;

  outline: none;
  transition: border-color $transition-animation-time $transition-animation-type;

  &:focus {
    border-color: $curious-blue;
  }

  &::-webkit-input-placeholder {
    color: $manatee;
  }

  &:-moz-placeholder { /* Firefox 18- */
    color: $manatee;
  }

  &::-moz-placeholder {  /* Firefox 19+ */
    color: $manatee;
  }

  &:-ms-input-placeholder {
    color: $manatee;
  }
}

.input-with-icon-left,
.input-with-icon-right {
  position: relative;

  display: inline-block;
}

.input-with-icon-left .bi,
.input-with-icon-right .bi {
  position: absolute;
  top: 5px;

  margin: 0;

  color: $manatee;
}

.input-with-icon-left .bi {
  left: 10px;
}

.input-with-icon-right .bi {
  right: 10px;
}

/* Base Object - Modifiers
------------------------------ */
.input--icon-left {
  padding-left: 34px;
}

.input--icon-right {
  padding-right: 34px;
}
