@import "../base/variables";

/* Base Object
------------------------------------------------------------ */
.input {
  margin: 0;
  padding: 8px;
  font-family: $font-family;
  font-size: $font-size;
  color: $outer-space;
  border: 1px solid $geyser;
  border-radius: $border-radius-level-2;
  outline: none;
  transition: border-color $transition-animation-time $transition-animation-type;

  &:focus {
    border-color: $curious-blue;
  }

  &::-webkit-input-placeholder {
    color: $geyser;
  }

  &::-moz-placeholder {
    color: $geyser;
  }

  &:-moz-placeholder {
    color: $geyser;
  }

  &:-ms-input-placeholder {
    color: $geyser;
  }
}

.input--icon-left {
  padding-left: 30px;
}

.input--icon-right {
  padding-right: 30px;
}

.input-label {
  display: block;
  margin-bottom: 8px;
  font-size: 12px;
  color: $outer-space;
}

.input-with-icon-left,
.input-with-icon-right {
  position: relative;
  display: inline-block;

  .bi {
    position: absolute;
    top: 6px;
    margin: 0;
  }
}


.input-with-icon-left .bi {
  left: 8px;
}

.input-with-icon-right .bi {
  right: 8px;
}
