@import "../base/variables";

/* Base Objects
------------------------------------------------------------ */
.input {
  margin: 0;
  padding: 0 4px;
  height: 32px;

  font-family: $fontFamily;
  font-size: $fontSize;
  color: $bodyColor;

  border: 1px solid $borderColor;
  border-radius: $borderRadiusLevel2;

  outline: none;
  transition: border-color $transitionAnimationTime $transitionAnimationType;

  &:focus {
    color: $actionableColor;

    border-color: $actionableColor;
  }
}

.input-with-icon-left,
.input-with-icon-right {
  position: relative;

  display: inline-block;
}

.input-with-icon-left .bi,
.input-with-icon-right .bi {
  position: absolute;
  top: 5px;

  margin: 0;

  color: $borderColor;
}

.input-with-icon-left .bi {
  left: 8px;
}

.input-with-icon-right .bi {
  right: 8px;
}

/* Base Object - Modifiers
------------------------------ */
.input--icon-left {
  padding-left: 28px;
}

.input--icon-right {
  padding-right: 28px;
}
