@import "../base/variables";

/* Base Object
------------------------------------------------------------ */
.metabar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-content: stretch;

  padding: 10px;

  font-size: 11px;
  font-weight: 600;

  background-color: $aqua-haze;
  border-right: 1px solid $geyser;
  border-bottom: 1px solid $geyser;
  border-left: 1px solid $geyser;
  border-radius: 0 0 $border-radius-level-1 $border-radius-level-1;

  &:hover {
    .metabar-menu-item {
      display: inherit;
    }
  }
}

.metabar-time {
  flex-grow: 0;
}

.metabar-time-zone {
  flex-grow: 0;

  font-weight: normal;
}

.metabar-profile-picture {
  flex-grow: 0;

  margin-left: 20px;

  border: 1px solid $geyser;
  border-radius: 256px;
}

.metabar-user-name {
  flex-grow: 0;

  margin-left: 10px;
}

.metabar-via {
  flex-grow: 0;

  margin-left: 10px;
}

.metabar-tag {
  flex-grow: 0;

  margin-left: 10px;
}

.metabar-menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  flex-grow: 1;

  margin: 0;
  padding: 0;

  list-style: none;
}

.metabar-menu-item {
  display: none;

  margin: 0 0 0 20px;
  padding: 0;

  [class*=" bi-"]:before, [class^=bi-]:before {
    vertical-align: baseline;
  }

  a {
    display: block;
  }
}
