@import "../base/variables";

/* Base Object
------------------------------------------------------------ */
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;

  background-color: rgba($shark, 0.9);

  opacity: 0;
  pointer-events: none;

  &:target {
    opacity: 1;
    pointer-events: auto;
  }
}

.modal .card {
  position: absolute;
  top: 50%;
  left: 50%;

  display: flex;
  width: 960px;
  max-height: 80%;

  box-shadow: $box-shadow-level-1;

  transform: translate(-50%, -50%);
}

.modal-content {
  position: relative;

  width: 100%;
}

.modal-content .modal-exit {
  position: absolute;
  top: -25px;
  right: -10px;

  color: $nevada;

  &:hover {
    color: $outer-space;
  }
}

.modal-content .modal-exit .bi {
  margin-right: 0;
}
