@import "../base/variables";

.NavBar {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  z-index: 1;
  display: flex;
  padding: 0 16px;
  width: 100%;
  height: 64px;
  line-height: 64px;
  background-color: $white;
  border-bottom: 1px solid $geyser;

  .bi {
    margin-right: 8px;
  }
}

.NavBar__title {
  flex-grow: 0;
  margin-right: 50px;
  font-weight: 600;
  color: $outer-space;
}

.NavBar__LeftMenu,
.NavBar__RightMenu {
  flex-direction: row;
  display: flex;
  margin: 0;
  list-style: none;
}

.NavBar__LeftMenu {
  justify-content: flex-start;
  flex-grow: 1;
}

.NavBar__RightMenu {
  justify-content: flex-end;
  flex-grow: 0;
}

.NavBar__Menu__item {
  margin: 0 32px 0 0;

  a {
    display: inline-block;
    color: $nevada;

    &.NavBar__Menu__item--active {
      margin-right: -8px;
      margin-left: -8px;
      padding-right: 8px;
      padding-left: 8px;
      color: $outer-space;
      box-shadow: inset 0 -2px $curious-blue;
    }
  }

  .ProfilePicture {
    vertical-align: middle;
    display: inline-block !important;
    margin-right: 8px;
  }
}

.NavBar__Menu__item--last {
  margin-right: 0;
}
