@import "../base/variables";

/* Base Object
------------------------------------------------------------ */
.navbar {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  z-index: 1;

  display: flex;
  margin-bottom: 32px;
  padding: 0 16px;
  width: 100%;
  height: 62px;

  font-size: $font-size;
  line-height: 62px;

  background-color: $white;
  border-bottom: 1px solid $geyser;
}

/* Base Objects
------------------------------------------------------------ */
.navbar-title {
  flex-grow: 0;

  margin-right: 50px;
}

.navbar-menu-left,
.navbar-menu-right {
  display: flex;
  flex-direction: row;

  margin: 0;

  list-style: none;
}

.navbar-menu-left {
  justify-content: flex-start;

  flex-grow: 1;
}

.navbar-menu-right {
  justify-content: flex-end;

  flex-grow: 0;
}

.navbar-menu-item {
  margin: 0 50px 0 0;

  a {
    display: inline-block;
    
    color: $nevada;
  }
}

.navbar-menu-item-profile-picture {
  vertical-align: middle;

  display: inline-block !important;
  margin-right: 10px;
}

/* Base Object - Modifiers
------------------------------------------------------------ */
.navbar-menu-item a.navbar-menu-item--active {
  margin-right: -10px;
  margin-left: -10px;
  padding-right: 10px;
  padding-left: 10px;

  color: $limed-spruce;

  box-shadow: inset 0 -2px $curious-blue;
}

.navbar-menu-item--last {
  margin-right: 0;
}
