@import "../base/variables";

.Notification {
  flex-direction: row;
  justify-content: flex-start;
  align-content: stretch;
  display: flex;
  padding: 16px;
  color: $white;
  background-color: $curious-blue;

  a .bi {
    color: $white;
  }

  i {
    flex-grow: 0;
    margin-right: 0;
  }

  p {
    flex-grow: 1;
    align-self: center;
    margin: 0 16px 0 0;
  }

  .ButtonIcon {
    color: $white;

    &:hover {
      color: $tory-blue;
    }
  }
}

.Notification--error,
.Notification--success,
.Notification--warning {
  .ButtonIcon {
    color: $curious-blue;

    &:hover {
      color: $tory-blue;
    }
  }
}

.Notification--warning {
  color: $outer-space;
  background-color: rgba($saffron, 0.2);

  a .bi {
    color: $saffron;
  }
}

.Notification--error {
  color: $outer-space;
  background-color: rgba($torch-red, 0.2);

  a .bi {
    color: $torch-red;
  }
}

.Notification--success {
  color: $outer-space;
  background-color: rgba($shamrock, 0.2);

  a .bi {
    color: $shamrock;
  }
}
