@import "../base/variables";

/* Base Object
------------------------------------------------------------ */
.notification {
  flex-direction: row;
  justify-content: flex-start;
  // align-content: center;
  position: fixed;
  top: 100;
  z-index: 2;

  display: flex;
  padding-top: 16px;
  padding-bottom: 16px;
  width: 100%;

  background-color: $aqua-haze;
  border-bottom: 1px solid $geyser;
}

.notification-message,
.notification-close {
  align-self: center;
}

.notification-message {
  flex-grow: 0;

  margin: 0 0 0 16px;

  background-color: rgba(0, 0, 0, 0.1);
}

.notification-close {
  flex-grow: 1;

  margin-right: 16px;
  margin-left: 16px;

  background-color: rgba(0, 0, 0, 0.2);
}
