@import "../base/variables";

.post--failed {
  .post-content {
    border-top: 1px solid $torch-red;
    border-right: 1px solid $torch-red;
    border-left: 1px solid $torch-red;
  }

  .metabar {
    border-right: 1px solid $torch-red;
    border-bottom: 1px solid $torch-red;
    border-left: 1px solid $torch-red;
  }
}

.post-content {
  flex-direction: row;
  justify-content: flex-start;
  align-content: stretch;
  display: flex;
  background-color: $white;
  border: 1px solid $geyser;
  border-radius: $border-radius-level-1 $border-radius-level-1 0 0;
}

.post-content-text {
  flex-grow: 1;
  padding: 32px 16px;
}

.post-content-image {
  flex-grow: 0;
  padding: 16px 16px 16px 0;

  img {
    display: block;
    max-width: 256px;
    max-height: 128px;
    border-radius: $border-radius-level-2;
  }
}

.post-content-video {
  flex-grow: 0;
  padding: 16px 16px 16px 0;

  iframe {
    max-width: 256px;
    max-height: 128px;
  }
}
