@import "../base/variables";

.profile-picture {
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 256px;
}

.profile-picture--inactive {
  filter: grayscale(1);
  opacity: 0.5;

  .profile-picture-icon .bi {
    color: $outer-space;
  }
}

.profile-picture--small {
  width: 16px;
  height: 16px;
}

.profile-picture-with-icon {
  position: relative;
}

.profile-picture-icon {
  position: absolute;
  top: 12px;
  left: 16px;
  margin-right: 0;
  font-size: 16px;
}
