@import "../base/variables";

.ProfilePicture {
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 256px;
}

.ProfilePicture--small {
  width: 16px;
  height: 16px;
}

.ProfilePicture--large {
  width: 64px;
  height: 64px;
}

.ProfilePictureWithIcon {
  position: relative;
  width: 32px;
  height: 32px;
  background: red;

  .ProfilePictureWithIcon__icon {
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: $white;
  }
}
