@import "../base/variables";

// ProfilePicture
.ProfilePicture {
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 256px;
}

// ProfilePicture - Modifiers
.ProfilePicture--extra-large {
  width: 128px;
  height: 128px;
}

.ProfilePicture--large {
  width: 64px;
  height: 64px;
}

.ProfilePicture--medium {
  width: 48px;
  height: 48px;
}

.ProfilePicture--small {
  width: 16px;
  height: 16px;
}

// ProfilePictureWithIcon
.ProfilePictureWithIcon {
  position: relative;
  width: 32px;
  height: 32px;
  background: red;
}

// ProfilePictureWithIcon - Elements
.ProfilePictureWithIcon__icon {
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: $white;
}
