@import "../base/variables";



.sidebar-app {
  width: 256px;
  background-color: $alabaster;
  border-right: 1px solid $geyser;
}

.sidebar-app-search-profiles {
  flex-grow: 0;
  padding: 16px;
  border-bottom: 1px solid $geyser;

  .input-with-icon-left,
  .input-with-icon-left input {
    width: 100%;
  }
}

.sidebar-app-accounts {
  flex-grow: 0;
  padding: 16px;
  text-align: center;
  border-bottom: 1px solid $geyser;

  .button {
    width: 100%;
  }
}

.sidebar-app-connected-accounts {
  flex-grow: 0;
}

.sidebar-app-connected-account {
  flex-direction: row;
  justify-content: flex-start;
  display: flex;
  padding: 16px;
  border-bottom: 1px solid $geyser;
}

.sidebar-app-connected-account-profile-picture {
  flex-grow: 0;
  align-self: center;
  margin-right: 16px;
}

.sidebar-app-connected-account-name {
  flex-grow: 1;
  align-self: center;
  margin-right: 16px;
  overflow: hidden;
}

.sidebar-app-connected-account-tag {
  align-self: center;
}

.sidebar-app-footer {
  flex-grow: 1;
  position: relative;
}

.sidebar-app-footer-list {
  position: absolute;
  bottom: 16px;
  list-style: none;
}

.sidebar-app-footer-list-item {
  display: inline-block;
  margin-right: 16px;
}

.sidebar-app-connected-account--active {
  margin-right: -1px;
  background-color: $white;
}
