@import "../base/variables";

.block-hero {
  padding-top: 96px;
  padding-bottom: 96px;

  text-align: center;

  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;

  h1 {
    margin-top: 0;
    margin-bottom: 8px;
  }

  h2 {
    margin-top: 0;
    margin-bottom: 0;

    font-size: 24px;
    font-weight: 300;
  }
}

.block-hero--pricing {
  background-image: url(/img/block-title-text--hero@2x.png);
}
