@import "../base/variables";

/* Base Object
------------------------------------------------------------ */
.tag {
  padding: 0 4px;
  height: 18px;

  font-size: 10px;
  font-weight: 600;
  line-height: 18px;
  color: $bodyColor;

  background-color: $borderColor;
  border-radius: $borderRadiusLevel3;
}

/* Base Object - Modifiers
------------------------------ */
.tag--blue,
.tag--error {
  color: $whiteColor100;
}

.tag--blue {
  background-color: $actionableColor;
}

.tag--error {
  background-color: $warningColor;
}
