@import "../base/variables";

/* Base Object
------------------------------------------------------------ */
.tag {
  padding: 0 4px;
  height: 18px;

  font-size: 10px;
  font-weight: 600;
  line-height: 18px;
  color: $shuttle-gray;

  background-color: $geyser;
  border-radius: $border-radius-level-3;
}

/* Base Object - Modifiers
------------------------------ */
.tag--blue,
.tag--error {
  color: $white-100;
}

.tag--blue {
  background-color: $curious-blue;
}

.tag--error {
  background-color: $torch-red;
}
