/**
 * Buffer style guide root file
 *
 * Only imports of SCSS files at this level. These files are meant to be
 * consumed by other projects. Do not include SCSS meant for the presentation
 * of the style guide website itself.
 */
/* Global Reset // We'll pull in a common reset here, perhaps in another file!
------------------------------------------------------------ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* Primary Palette
------------------------------------------------------------ */
/* Brands Palette
------------------------------------------------------------ */
/* Font
------------------------------------------------------------ */
/* Border Radii
------------------------------------------------------------ */
/* Box Shadows
------------------------------------------------------------ */
/* Animation
------------------------------------------------------------ */
/* Global Reset // We'll pull in a common reset here, perhaps in another file!
------------------------------------------------------------ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* Primary Palette
------------------------------------------------------------ */
/* Brands Palette
------------------------------------------------------------ */
/* Font
------------------------------------------------------------ */
/* Border Radii
------------------------------------------------------------ */
/* Box Shadows
------------------------------------------------------------ */
/* Animation
------------------------------------------------------------ */
/* Body
------------------------------------------------------------ */
body {
  font-family: "open sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #59626a; }

/* Headings
------------------------------------------------------------ */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #323b43; }

h1 {
  margin: 32px 0;
  font-size: 32px;
  font-weight: 100;
  line-height: 48px; }

h2 {
  margin: 24px 0;
  font-size: 24px;
  line-height: 36px; }

h3 {
  font-size: 16px;
  line-height: 24px; }

h2,
h3,
h4,
h5,
h6 {
  margin: 16px 0;
  font-weight: 600; }

h4 {
  font-size: 14px;
  line-height: 21px; }

h5,
h6 {
  font-size: 12px;
  line-height: 21px; }

/* Paragraphs
-------------------------------------------------- */
code {
  color: #000; }

p {
  margin: 16px 0; }

*, *:before, *:after {
  box-sizing: inherit; }

/* Global Reset // We'll pull in a common reset here, perhaps in another file!
------------------------------------------------------------ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* Primary Palette
------------------------------------------------------------ */
/* Brands Palette
------------------------------------------------------------ */
/* Font
------------------------------------------------------------ */
/* Border Radii
------------------------------------------------------------ */
/* Box Shadows
------------------------------------------------------------ */
/* Animation
------------------------------------------------------------ */
/* Base Object
------------------------------------------------------------ */
.button {
  padding: 0 16px;
  height: 32px;
  font-family: "open sans", sans-serif;
  font-size: 14px;
  line-height: 32px;
  color: #59626a;
  background-color: transparent;
  border: 1px solid #ced7df;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.1s linear; }
  .button:active {
    background-color: #e7eaec !important; }
  .button [class*=" bi-"]:before, .button [class^=bi-]:before {
    vertical-align: baseline; }

.button:hover {
  background-color: #eff3f6; }

/* Base Object - Modifiers
------------------------------ */
.button--active,
.button--inactive {
  background-color: #eff3f6; }
  .button--active:active,
  .button--inactive:active {
    background-color: #eff3f6 !important; }

.button--active:hover {
  background-color: #eff3f6; }

.button--inactive {
  color: #ced7df; }

.button--large {
  padding: 0 32px;
  height: 48px;
  line-height: 48px; }

.button--left {
  border-radius: 4px 0 0 4px; }

.button--middle {
  border-right: 0;
  border-left: 0;
  border-radius: 0; }

.button--primary {
  color: #fff;
  background-color: #168eea;
  border-color: #1172bc; }

.button--primary,
.button--secondary {
  border-radius: 256px; }
  .button--primary:active,
  .button--secondary:active {
    background-color: #0d5b97 !important; }
  .button--primary:hover,
  .button--secondary:hover {
    color: #fff;
    background-color: #106aaf;
    border-color: #1172bc; }

.button--right {
  border-radius: 0 4px 4px 0; }

.button--remove-border-left {
  border-left: 0; }

.button--secondary {
  color: #168eea;
  border-color: #168eea; }

/* Global Reset // We'll pull in a common reset here, perhaps in another file!
------------------------------------------------------------ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* Primary Palette
------------------------------------------------------------ */
/* Brands Palette
------------------------------------------------------------ */
/* Font
------------------------------------------------------------ */
/* Border Radii
------------------------------------------------------------ */
/* Box Shadows
------------------------------------------------------------ */
/* Animation
------------------------------------------------------------ */
/* Base Object
------------------------------------------------------------ */
.card {
  padding: 16px;
  background-color: #fff;
  border: 1px solid #ced7df;
  border-radius: 8px; }

/* Base Object - Modifiers
------------------------------ */
.card--last {
  margin-bottom: 0; }

.card--empty {
  border: 1px dashed #ced7df; }

/* Post & Analytics Shared Objects
------------------------------------------------------------ */
.card-post,
.card-post-analytics {
  margin-bottom: 16px; }

.card-post,
.card-post-analytics {
  padding: 0; }

.card-post-content,
.card-post-analytics-content {
  padding: 16px; }

.card-post-content p,
.card-post-analytics-content p {
  margin: 0; }

.card-post-meta,
.card-post-analytics-meta {
  flex-direction: row;
  justify-content: flex-start;
  display: flex;
  padding: 0 16px;
  height: 32px;
  line-height: 32px;
  background-color: #f4f7f9;
  border-top: 1px solid #ced7df;
  border-radius: 0 0 7px 7px;
  font-size: 10px; }

.card-post-meta-time-zone,
.card-post-analytics-meta-time-zone {
  font-weight: normal; }

/* Post Objects
------------------------------------------------------------ */
.card-post-stat {
  font-weight: bold;
  color: #323b43; }

.card-post-meta:hover .card-post-meta-menu {
  opacity: 1; }

.card-post-meta::after {
  clear: both; }

.card-post-meta-time-pinned {
  flex-grow: 0;
  position: relative;
  margin: 2px 16px 2px -18px;
  padding-left: 16px;
  height: 27px;
  line-height: 27px;
  color: #fff;
  background-color: #168eea;
  border-right: 0;
  border-radius: 2px 0 0 2px; }

.card-post-meta-time-pinned .card-post-meta-time {
  color: #fff; }

.card-post-meta-time-pinned-arrow {
  position: absolute;
  top: 0;
  right: -8px;
  width: 0;
  height: 0;
  border-top: 13.5px solid transparent;
  border-bottom: 13.5px solid transparent;
  border-left: 8px solid #168eea; }

.card-post-meta-tag {
  flex-grow: 0;
  margin: 7px 8px 7px 0; }

.card-post-meta-time {
  flex-grow: 0;
  margin-right: 8px;
  font-weight: 600; }

.card-post-meta-via {
  flex-grow: 0; }

.card-post-meta-user {
  flex-direction: row;
  justify-content: flex-start;
  flex-grow: 1;
  display: flex;
  margin: 4px 0 4px 16px;
  padding: 4px 0; }

.card-post-meta-user-name {
  margin-left: 8px;
  font-weight: 600;
  line-height: normal; }

.card-post-meta-user-profile-picture {
  flex-grow: 0; }

.card-post-meta-user-name {
  flex-grow: 1; }

.card-post-meta-menu {
  flex-direction: row;
  justify-content: flex-start;
  flex-grow: 0;
  display: flex;
  margin: 0;
  list-style: none;
  opacity: 0; }

.card-post-meta-menu-item {
  flex-grow: 1;
  margin: 0 16px 0 0; }
  .card-post-meta-menu-item a {
    display: block;
    color: #323b43; }
    .card-post-meta-menu-item a:hover {
      color: #000; }

/* Post Objects - Modifiers
------------------------------ */
.card-post-meta-menu-item--last {
  margin-right: 0; }

.card-post-meta-time--pinned {
  color: #fff; }

/* Analytics Objects
------------------------------------------------------------ */
.card-post-analytics {
  padding-bottom: 0; }

.card-post-analytics-posted {
  margin-top: 8px;
  height: 21px;
  font-size: 10px; }

.card-post-analytics-posted-time,
.card-post-analytics-posted-via {
  float: left; }

.card-post-analytics-posted-via {
  margin-left: 8px; }

.card-post-analytics-meta-data-stat {
  flex-grow: 1;
  text-align: center; }

/* Global Reset // We'll pull in a common reset here, perhaps in another file!
------------------------------------------------------------ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* Primary Palette
------------------------------------------------------------ */
/* Brands Palette
------------------------------------------------------------ */
/* Font
------------------------------------------------------------ */
/* Border Radii
------------------------------------------------------------ */
/* Box Shadows
------------------------------------------------------------ */
/* Animation
------------------------------------------------------------ */
/* Base Objects
------------------------------------------------------------ */
.input {
  margin: 0;
  padding: 0 4px;
  height: 32px;
  font-family: "open sans", sans-serif;
  font-size: 14px;
  color: #59626a;
  border: 1px solid #ced7df;
  border-radius: 4px;
  outline: none;
  transition: border-color 0.1s linear; }
  .input:focus {
    color: #168eea;
    border-color: #168eea; }

.input-with-icon-left,
.input-with-icon-right {
  position: relative;
  display: inline-block; }

.input-with-icon-left .bi,
.input-with-icon-right .bi {
  position: absolute;
  top: 5px;
  margin: 0;
  color: #ced7df; }

.input-with-icon-left .bi {
  left: 8px; }

.input-with-icon-right .bi {
  right: 8px; }

/* Base Object - Modifiers
------------------------------ */
.input--icon-left {
  padding-left: 28px; }

.input--icon-right {
  padding-right: 28px; }

/* Global Reset // We'll pull in a common reset here, perhaps in another file!
------------------------------------------------------------ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* Primary Palette
------------------------------------------------------------ */
/* Brands Palette
------------------------------------------------------------ */
/* Font
------------------------------------------------------------ */
/* Border Radii
------------------------------------------------------------ */
/* Box Shadows
------------------------------------------------------------ */
/* Animation
------------------------------------------------------------ */
/* Base Object
------------------------------------------------------------ */
.bi {
  margin-right: 4px; }

.bi-circle-appdotnet[class*="bi-"],
.bi-circle-facebook[class*="bi-"],
.bi-circle-google-plus[class*="bi-"],
.bi-circle-linkedin[class*="bi-"],
.bi-circle-pinterest[class*="bi-"],
.bi-circle-twitter[class*="bi-"] {
  font-size: 16px;
  border: none; }

.bi-circle-appdotnet[class*="bi-"]::before,
.bi-circle-facebook[class*="bi-"]::before,
.bi-circle-google-plus[class*="bi-"]::before,
.bi-circle-linkedin[class*="bi-"]::before,
.bi-circle-pinterest[class*="bi-"]::before,
.bi-circle-twitter[class*="bi-"]::before {
  background-color: #fff;
  border-radius: 50%; }

.bi-circle-appdotnet {
  color: #4a484c; }

.bi-circle-facebook {
  color: #3b5998; }

.bi-circle-google-plus {
  color: #dd4b39; }

.bi-circle-linkedin {
  color: #007bb6; }

.bi-circle-pinterest {
  color: #bd081c; }

.bi-circle-twitter {
  color: #55acee; }

/* Global Reset // We'll pull in a common reset here, perhaps in another file!
------------------------------------------------------------ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* Primary Palette
------------------------------------------------------------ */
/* Brands Palette
------------------------------------------------------------ */
/* Font
------------------------------------------------------------ */
/* Border Radii
------------------------------------------------------------ */
/* Box Shadows
------------------------------------------------------------ */
/* Animation
------------------------------------------------------------ */
/* Base Object
------------------------------------------------------------ */
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  background-color: rgba(244, 247, 249, 0.9);
  opacity: 0;
  pointer-events: none; }
  .modal:target {
    opacity: 1;
    pointer-events: auto; }

.modal .card {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 100px;
  box-shadow: 0 2px 4px rgba(50, 59, 67, 0.2);
  transform: translate(-50%, -50%); }

/* Global Reset // We'll pull in a common reset here, perhaps in another file!
------------------------------------------------------------ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* Primary Palette
------------------------------------------------------------ */
/* Brands Palette
------------------------------------------------------------ */
/* Font
------------------------------------------------------------ */
/* Border Radii
------------------------------------------------------------ */
/* Box Shadows
------------------------------------------------------------ */
/* Animation
------------------------------------------------------------ */
/* Base Object
------------------------------------------------------------ */
.navbar {
  flex-direction: row;
  justify-content: flex-start;
  display: flex;
  margin-bottom: 32px;
  padding: 0 16px;
  width: 100%;
  height: 64px;
  z-index: 1;
  font-size: 14px;
  line-height: 64px;
  background-color: #fff;
  border-bottom: 1px solid #ced7df; }

.navbar-title {
  flex-grow: 0;
  margin-right: 16px;
  font-weight: 600; }

.navbar-menu-left,
.navbar-menu-right {
  margin: 0; }

.navbar-menu-left {
  flex-grow: 1; }

.navbar-menu-right {
  flex-grow: 0; }

.navbar-menu-item {
  display: inline;
  margin: 0 16px 0 0; }
  .navbar-menu-item a {
    display: inline-block; }

.navbar-menu-item-profile-picture {
  float: left;
  margin: 16px 8px -12px 0; }

/* Base Object - Modifiers
------------------------------ */
.navbar-menu-item a.navbar-menu-item--active {
  box-shadow: inset 0 -2px #323b43; }

.navbar-menu-item--last {
  margin-right: 0; }

/* Global Reset // We'll pull in a common reset here, perhaps in another file!
------------------------------------------------------------ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* Primary Palette
------------------------------------------------------------ */
/* Brands Palette
------------------------------------------------------------ */
/* Font
------------------------------------------------------------ */
/* Border Radii
------------------------------------------------------------ */
/* Box Shadows
------------------------------------------------------------ */
/* Animation
------------------------------------------------------------ */
/* Base Object
------------------------------------------------------------ */
.profile-picture {
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 16px; }

/* Base Object - Modifiers
------------------------------ */
.profile-picture--inactive {
  filter: grayscale(1);
  opacity: 0.5; }
  .profile-picture--inactive .profile-picture-icon .bi {
    color: #323b43; }

.profile-picture--large {
  width: 48px;
  height: 48px;
  border-radius: 32px; }

.profile-picture--small {
  width: 16px;
  height: 16px;
  border-radius: 8px; }

/* Profile Picture with Icon Object
------------------------------------------------------------ */
.profile-picture-with-icon {
  position: relative; }

.profile-picture-icon {
  position: absolute;
  top: 12px;
  left: 16px;
  margin-right: 0;
  font-size: 16px; }

/* Global Reset // We'll pull in a common reset here, perhaps in another file!
------------------------------------------------------------ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* Primary Palette
------------------------------------------------------------ */
/* Brands Palette
------------------------------------------------------------ */
/* Font
------------------------------------------------------------ */
/* Border Radii
------------------------------------------------------------ */
/* Box Shadows
------------------------------------------------------------ */
/* Animation
------------------------------------------------------------ */
/* Base Object
------------------------------------------------------------ */
.sidebar {
  margin-top: -32px;
  padding: 16px 0;
  width: 256px;
  min-height: 100vh;
  font-size: 12px;
  background-color: #f8f8f8;
  border-right: 1px solid #ced7df;
  order: -1; }

/* Base Objects
------------------------------------------------------------ */
.sidebar-search-profiles-input {
  margin: 0 16px; }

.sidebar-search-profiles-input .input-with-icon-left,
.sidebar-search-profiles-input .input {
  width: 100%; }

.sidebar-accounts {
  flex-direction: row;
  justify-content: flex-start;
  display: flex;
  padding: 16px;
  border-bottom: 1px solid #ced7df; }

.sidebar-accounts-title {
  flex-grow: 1;
  align-self: center;
  margin: 0; }

.sidebar-accounts-button {
  flex-grow: 0;
  align-self: center; }

.sidebar-accounts-button .bi {
  margin-right: 0; }

.sidebar-connected-accounts {
  flex-grow: 1; }

.sidebar-connected-account {
  flex-direction: row;
  justify-content: flex-start;
  display: flex;
  padding: 16px;
  border-bottom: 1px solid #ced7df; }

.sidebar-connected-account-profile-picture {
  flex-grow: 0;
  align-self: center;
  margin-right: 16px; }

.sidebar-connected-account-name {
  flex-grow: 1;
  align-self: center;
  margin-right: 16px;
  font-size: 12px;
  font-weight: 600;
  color: #323b43;
  overflow: hidden; }

.sidebar-connected-account-tag {
  align-self: center; }

.sidebar-footer-list {
  flex-direction: row;
  justify-content: flex-start;
  list-style: none;
  display: flex; }

.sidebar-footer-list-item {
  flex-grow: 0;
  margin-right: 16px; }

/* Base Objects - Modifiers
------------------------------ */
.sidebar-connected-account--active {
  margin-right: -1px;
  background-color: #fff; }

/* Global Reset // We'll pull in a common reset here, perhaps in another file!
------------------------------------------------------------ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* Primary Palette
------------------------------------------------------------ */
/* Brands Palette
------------------------------------------------------------ */
/* Font
------------------------------------------------------------ */
/* Border Radii
------------------------------------------------------------ */
/* Box Shadows
------------------------------------------------------------ */
/* Animation
------------------------------------------------------------ */
/* Base Object
------------------------------------------------------------ */
.tag {
  padding: 0 4px;
  height: 18px;
  font-size: 10px;
  font-weight: 600;
  line-height: 18px;
  color: #59626a;
  background-color: #ced7df;
  border-radius: 2px; }

/* Base Object - Modifiers
------------------------------ */
.tag--blue,
.tag--error {
  color: #fff; }

.tag--blue {
  background-color: #168eea; }

.tag--error {
  background-color: #ee4f4f; }
