/**
 * Buffer style guide root file
 *
 * Only imports of SCSS files at this level. These files are meant to be
 * consumed by other projects. Do not include SCSS meant for the presentation
 * of the style guide website itself.
 */
/* Global
-------------------------------------------------- */
/* Gray Palette
-------------------------------------------------- */
/* Primary Palette
-------------------------------------------------- */
/* Brand Palette
-------------------------------------------------- */
/* Typography
-------------------------------------------------- */
/* Font
-------------------------------------------------- */
/* Elements
-------------------------------------------------- */
/* Depths (z-indexs)
-------------------------------------------------- */
/* Shadows
-------------------------------------------------- */
/* Global
-------------------------------------------------- */
/* Gray Palette
-------------------------------------------------- */
/* Primary Palette
-------------------------------------------------- */
/* Brand Palette
-------------------------------------------------- */
/* Typography
-------------------------------------------------- */
/* Font
-------------------------------------------------- */
/* Elements
-------------------------------------------------- */
/* Depths (z-indexs)
-------------------------------------------------- */
/* Shadows
-------------------------------------------------- */
body {
  color: #b0bbc2;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 24px; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

/* Global
-------------------------------------------------- */
/* Gray Palette
-------------------------------------------------- */
/* Primary Palette
-------------------------------------------------- */
/* Brand Palette
-------------------------------------------------- */
/* Typography
-------------------------------------------------- */
/* Font
-------------------------------------------------- */
/* Elements
-------------------------------------------------- */
/* Depths (z-indexs)
-------------------------------------------------- */
/* Shadows
-------------------------------------------------- */
.Card {
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(98, 119, 133, 0.25); }
