@import "variables";

/* Body
-------------------------------------------------- */
body {
  font-family: $Font--base-family;
  font-size: $Font--base-size;
  line-height: $Font--base-line-height;
  color: $Color--body;
}

/* Headings
-------------------------------------------------- */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: $Color--heading-100;
}

h1 {
  font-size: $Global--spacing * 4; // 32
  font-weight: 100;
  line-height: ($Global--spacing * 4) * 1.5;
}

h2,
h3,
h4,
h5 {
  font-weight: 400;
}

h2 {
  font-size: $Global--spacing * 3; // 24
  line-height: ($Global--spacing * 3) * 1.5;
}

h3 {
  font-size: ($Global--spacing * 3)-($Global--spacing / 2); // 20
  line-height: (($Global--spacing * 3)-($Global--spacing / 2)) * 1.5;
}

h4 {
  font-size: (($Global--spacing * 2) + ($Global--spacing / 4)); // 18
  line-height: ((($Global--spacing * 2) + ($Global--spacing / 4))) * 1.5;
}

h5 {
  font-size: $Global--spacing * 2; // 16
  line-height: ($Global--spacing * 2) * 1.5;
}

h6 {
  font-size: $Global--spacing * 1.5; // 12
  font-weight: 600;
  line-height: ($Global--spacing * 1.5) * 1.5;
  text-transform: uppercase;
}

/* Paragraphs
-------------------------------------------------- */
p {
  &.lead {
    font-size: ($Global--spacing * 3)-($Global--spacing / 2); // 20
    font-weight: 300;
    line-height: (($Global--spacing * 3)-($Global--spacing / 2)) * 1.5;
  }
}

code {
  font-size: $Global--spacing * 1.5; // 12
  font-weight: 400;
  line-height: ($Global--spacing * 1.5) * 1.5;
  text-transform: lowercase;
}