@import "variables";

html {
  font-size: $font-size;
}

/* Body
------------------------------------------------------------ */
body {
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
  color: $shuttle-gray;
  -webkit-font-smoothing: antialiased;
}

/* Headings
------------------------------------------------------------ */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 32px 0 8px 0;

  color: $outer-space;
}

h1,
h2,
h3 {
  .subtitle {
    font-size: $font-size;
    font-weight: $font-weight;
    color: $shuttle-gray;
  }
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

h5,
h6 {
  font-size: 16px;
}

/* Paragraphs
-------------------------------------------------- */
code {
  color: $black;
}

p {
  margin-bottom: 16px;
}

small {
  font-size: 11px;
}

li {
  margin-top: 8px;
  margin-bottom: 8px;
}
