/* Global Reset // We'll pull in a common reset here, perhaps in another file!
------------------------------------------------------------ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Shades Palette
------------------------------------------------------------ */
$black-100: rgba(0, 0, 0, 1.0);
$black-90: rgba(0, 0, 0, 0.9);
$black-80: rgba(0, 0, 0, 0.8);
$black-70: rgba(0, 0, 0, 0.7);
$black-60: rgba(0, 0, 0, 0.6);
$black-50: rgba(0, 0, 0, 0.5);
$black-40: rgba(0, 0, 0, 0.4);
$black-30: rgba(0, 0, 0, 0.3);
$black-20: rgba(0, 0, 0, 0.2);
$black-10: rgba(0, 0, 0, 0.1);
$black-05: rgba(0, 0, 0, 0.05);

$white-100: rgba(255, 255, 255, 1);
$white-90: rgba(255, 255, 255, 0.9);
$white-80: rgba(255, 255, 255, 0.8);
$white-70: rgba(255, 255, 255, 0.7);
$white-60: rgba(255, 255, 255, 0.6);
$white-50: rgba(255, 255, 255, 0.5);
$white-40: rgba(255, 255, 255, 0.4);
$white-30: rgba(255, 255, 255, 0.3);
$white-20: rgba(255, 255, 255, 0.2);
$white-10: rgba(255, 255, 255, 0.1);
$white-05: rgba(255, 255, 255, 0.05);

/* Primary Palette
------------------------------------------------------------ */

/* Blues
------------------------------ */
$curious-blue: #168eea;
$denim: #137ac9;
$tory-blue: mix($curious-blue, $black-100, 70%);
$selago: mix($white-100, $curious-blue, 90%);

/* Grays
------------------------------ */
$outer-space: #323b43;
$limed-spruce: #343e47;
$shuttle-gray: #59626a;
$nevada: #666c72;
$manatee: #989da1;
$hit-gray: #abb3ba;
$geyser: #ced7df;
$aqua-haze: #f4f7f9;
$alabaster: #f8f8f8;

/* Others
------------------------------ */
$mantis: #76b852;
$torch-red: #ff1e1e;



/* Brands Palette
------------------------------------------------------------ */

$appdotnet: #4a484c;
$facebook: #3b5998;
$linkedin: #007bb6;
$twitter: #55acee;
$googleplus: #dd4b39;
$pinterest: #bd081c;

/* Font
------------------------------------------------------------ */

$font-family: 'open sans', sans-serif;
$font-size: 14px;
$font-weight: 400;
$line-height: $font-size * 1.5;

/* Border Radii
------------------------------------------------------------ */

$border-radius-level-1: 4px;
$border-radius-level-2: 2px;
$border-radius-level-3: 1px;

/* Box Shadows
------------------------------------------------------------ */

$box-shadow-level-1: 0 1px 2px $black-50;

/* Animation
------------------------------------------------------------ */
$transition-animation-time: 0.1s;
$transition-animation-type: linear;
