/* Global Variables
------------------------------------------------------------ */
$globalSpacing: 8px;

/* Global Reset // We'll pull in a common reset here, perhaps in another file!
------------------------------------------------------------ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Primary Palette
------------------------------------------------------------ */

$actionableColor: #168eea;
$actionableHoverColor: #106aaf;
$actionableBorderColor: rgba(0, 0, 0, 0.2);
$titleColor: #323b43;
$bodyColor: #59626a;
$borderColor: #ced7df;
$borderLightColor: #eff3f6;
$backgroundFillColor: #f4f7f9;
$successColor: #76b852;
$errorColor: #ee4f4f;
$warningColor: #fff9ea;
$blackColor: #000;
$whiteColor: #fff;

/* Brands Palette
------------------------------------------------------------ */

$facebookColor: #3b5998;
$linkedInColor: #007bb6;
$twitterColor: #55acee;
$appNetColor: #4a484c;
$googlePlusColor: #dd4b39;
$pinterestColor: #bd081c;

/* Font
------------------------------------------------------------ */

$fontFamily: 'open sans', sans-serif;
$fontSize: 14px;
$fontWeight: 400;
$lineHeight: $fontSize * 1.5;

/* Border Radii
------------------------------------------------------------ */

$borderRadiusLevel1: $globalSpacing;      // 8px
$borderRadiusLevel2: $globalSpacing / 2;  // 4px
$borderRadiusLevel3: $globalSpacing / 4;  // 2px

/* Box Shadows
------------------------------------------------------------ */

$boxShadowLevel1: 0 2px 4px rgba(50, 59, 67, 0.2);
$boxShadowLevel2: 0 4px 6px rgba(50, 59, 67, 0.2);
$boxShadowLevel3: 0 6px 8px rgba(50, 59, 67, 0.2);
$boxShadowLevel4: 0 8px 10px rgba(50, 59, 67, 0.2);
