/* Global Reset // We'll pull in a common reset here, perhaps in another file!
------------------------------------------------------------ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Shades Palette
------------------------------------------------------------ */
$blackColor100: rgba(0, 0, 0, 1.0);
$blackColor90: rgba(0, 0, 0, 0.9);
$blackColor80: rgba(0, 0, 0, 0.8);
$blackColor70: rgba(0, 0, 0, 0.7);
$blackColor60: rgba(0, 0, 0, 0.6);
$blackColor50: rgba(0, 0, 0, 0.5);
$blackColor40: rgba(0, 0, 0, 0.4);
$blackColor30: rgba(0, 0, 0, 0.3);
$blackColor20: rgba(0, 0, 0, 0.2);
$blackColor10: rgba(0, 0, 0, 0.1);
$blackColor05: rgba(0, 0, 0, 0.05);

$blueColor100: rgba(22, 142, 234, 1);
$blueColor90: rgba(22, 142, 234, 0.9);
$blueColor80: rgba(22, 142, 234, 0.8);
$blueColor70: rgba(22, 142, 234, 0.7);
$blueColor60: rgba(22, 142, 234, 0.6);
$blueColor50: rgba(22, 142, 234, 0.5);
$blueColor40: rgba(22, 142, 234, 0.4);
$blueColor30: rgba(22, 142, 234, 0.3);
$blueColor20: rgba(22, 142, 234, 0.2);
$blueColor10: rgba(22, 142, 234, 0.1);
$blueColor05: rgba(22, 142, 234, 0.05);

$whiteColor100: rgba(255, 255, 255, 1);
$whiteColor90: rgba(255, 255, 255, 0.9);
$whiteColor80: rgba(255, 255, 255, 0.8);
$whiteColor70: rgba(255, 255, 255, 0.7);
$whiteColor60: rgba(255, 255, 255, 0.6);
$whiteColor50: rgba(255, 255, 255, 0.5);
$whiteColor40: rgba(255, 255, 255, 0.4);
$whiteColor30: rgba(255, 255, 255, 0.3);
$whiteColor20: rgba(255, 255, 255, 0.2);
$whiteColor10: rgba(255, 255, 255, 0.1);
$whiteColor05: rgba(255, 255, 255, 0.05);


/* Primary Palette
------------------------------------------------------------ */

$actionableColor: $blueColor100;
$actionableActiveColor: mix($blueColor100, $blackColor100, 70%);
$actionableHoverColor: #137ac9;
$backgroundFillColor: #f4f7f9;
$bodyColor: #59626a;
$borderColor: #ced7df;
$borderLightColor: #eff3f6;
$bufferForBusinessColor: #f8f8f8;
$successColor: #76b852;
$titleColor: #323b43;
$warningColor: #ff1e1e;

$buttonSecondaryBorderColor: #137ac9;
$buttonTertiaryBorderColor: #ced7df;
$buttonTertiaryHoverBorderColor: #abb3ba;
$buttonTertiaryTextColor: #666c72;
$buttonTertiaryHoverTextColor: #343e47;

/* Brands Palette
------------------------------------------------------------ */

$appDotNetColor: #4a484c;
$facebookColor: #3b5998;
$linkedInColor: #007bb6;
$twitterColor: #55acee;
$googlePlusColor: #dd4b39;
$pinterestColor: #bd081c;

/* Font
------------------------------------------------------------ */

$fontFamily: 'open sans', sans-serif;
$fontSize: 13px;
$fontWeight: 400;
$lineHeight: $fontSize * 1.5;

/* Border Radii
------------------------------------------------------------ */

$borderRadiusLevel1: 8px;
$borderRadiusLevel2: 4px;
$borderRadiusLevel3: 2px;

/* Box Shadows
------------------------------------------------------------ */

$boxShadowLevel1: 0 2px 4px rgba(50, 59, 67, 0.2);
$boxShadowLevel2: 0 4px 6px rgba(50, 59, 67, 0.2);
$boxShadowLevel3: 0 6px 8px rgba(50, 59, 67, 0.2);
$boxShadowLevel4: 0 8px 10px rgba(50, 59, 67, 0.2);

/* Animation
------------------------------------------------------------ */
$transitionAnimationTime: 0.1s;
$transitionAnimationType: linear;
