@import "base/variables";

a {
  color: $curious-blue;
  text-decoration: none;

  &:hover {
    color: $tory-blue;
  }

  img {
    outline: none;
  }
}

body {
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight;

  background-color: $white;
}

ol,
ul {
  margin: 16px;
}

p {
  .bi {
    margin-right: 0;
  }
}

.app {
  flex-direction: column;

  display: flex;
  min-height: 128vh;
}

.body {
  flex: 1;

  display: flex;
}

.sidebar-style-guide-list {
  margin-top: 0;
  margin-right: -16px;
  margin-bottom: 0;
  margin-left: 0;

  list-style: none;
}

.sidebar-style-guide-list li {
  margin: 0;
}

.sidebar-style-guide-list a.sidebar-style-guide-list--last {
  border-bottom: 0;
}

.sidebar-style-guide-list a {
  display: block;
  padding-top: 8px;
  padding-bottom: 8px;

  border-bottom: 1px solid $aqua-haze;
}

.content {
  flex: 1;

  margin-top: 80px;
  margin-right: 16px;
  margin-bottom: 16px;
  margin-left: 272px;
}

.section {}

.code-block {
  margin-bottom: 32px;
}

.code-block-title {
  padding: 8px 16px;

  font-size: 12px;
  font-weight: 600;
  color: $outer-space;
  text-transform: uppercase;

  background-color: $geyser;
  border-radius: $border-radius-level-2 $border-radius-level-2 0 0;
}

.code-block-render {
  padding: 32px 16px;

  .navbar {
    position: inherit;

    margin-bottom: 0;
  }

  .sidebar {
    position: inherit;

    margin-top: 0;
  }

  .metabar {
    position: relative;
    z-index: 0;

    margin: 0;
  }

  .tag {
    display: table;
  }
}

.code-block-render .card {
  border-radius: $border-radius-level-1;
}

.code-block-render .card .card {
  border-radius: $border-radius-level-2;
}

.code-block-render .card .card .card {
  border-radius: $border-radius-level-3;
}

.code-block-render--dark {
  background-color: rgba($outer-space, 0.9);
}

.code-block-render,
.code-block-code {
  border-right: 1px solid $geyser;
  border-bottom: 1px solid $geyser;
  border-left: 1px solid $geyser;
}

.code-block-code {
  padding: 16px;

  background-color: $aqua-haze;
  border-radius: 0 0 $border-radius-level-2 $border-radius-level-2;

  overflow: hidden;

  pre {
    white-space: pre-wrap;
  }
}

[class*="block-hero"] {
  [class*="col-"] {
    border: 0;
  }
}

[class*="block-pricing"] {
  [class*="col-"] {
    border: 0;
  }
}
