@import "base/variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
  text-decoration: none;
  color: $curious-blue;

  &:hover {
    text-decoration: underline;;
    color: $tory-blue;
  }

  img {
    outline: none;
  }
}

body {
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight;
  background-color: $white;
}

p {
  .bi {
    margin-right: 0;
  }
}

.app {
  flex-direction: column;
  display: flex;
  min-height: 128vh;
}

.body {
  flex: 1;
  display: flex;
}

.sidebar-style-guide-list {
  margin: 0;
  list-style: none;
}

.sidebar-style-guide-list li {
  margin: 0;
}

.sidebar-style-guide-list a.sidebar-style-guide-list--last {
  border-bottom: 0;
}

.sidebar-style-guide-list a {
  display: block;
  padding-top: 8px;
  padding-bottom: 8px;
  border-bottom: 1px solid $aqua-haze;
}

.content {
  flex: 1;
  margin-top: 16px;
  margin-right: 16px;
  margin-bottom: 16px;
  margin-left: 16px;
}

.code-block {
  margin-bottom: 32px;
}

.code-block-title {
  padding: 8px 16px;
  font-size: 12px;
  font-weight: 600;
  color: $outer-space;
  text-transform: uppercase;
  background-color: $geyser;
  border-radius: $border-radius-level-2 $border-radius-level-2 0 0;
}

.code-block-render {
  padding: 32px 16px;

  .navbar {
    position: inherit;
    margin-bottom: 0;
  }

  .sidebar-app {
    position: inherit;
    margin: 0 auto;
  }

  .metabar {
    position: relative;
    z-index: 0;
    margin: 0;
  }

  .tag {
    display: table;
  }

  [class*="Column"],
  [class*="Columns"] {
    border: 1px solid $geyser;
  }
}

.code-block-render--dark {
  background-color: rgba($outer-space, 0.9);
}

.code-block-render,
.code-block-code {
  border-right: 1px solid $geyser;
  border-bottom: 1px solid $geyser;
  border-left: 1px solid $geyser;
}

.code-block-code {
  padding: 16px;
  background-color: $aqua-haze;
  border-radius: 0 0 $border-radius-level-2 $border-radius-level-2;
  overflow: hidden;

  pre {
    white-space: pre-wrap;
  }
}

.sidebar {
  flex-grow: 0;
  flex-direction: column;
  justify-content: flex-start;
  z-index: 1;
  display: flex;
  min-height: 128vh;
  order: -1;

  .Card {
    margin-top: 16px;
    margin-left: 16px;
  }
}
