@import "base/variables";

.flex-container,
.flex-container header,
.flex-container footer {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

div.flex-container {
  flex-direction: column;
  justify-content: center;
}

main.flex-container {
  flex-direction: row;
}

.atom-list {
  flex-basis: 20%;
}

.content {
  flex-basis: 80%;

  .Card {
    &.regular {
      margin-bottom: $Global--spacing * 2;

      .Card {
        border-radius: $BorderRadius--level-3;

        &.regular {
          margin-bottom: 0;
        }
      }
    }
  }
}

.flex-container header,
.flex-container footer {
  width: 100%;
}

/* To be made in to components
-------------------------------------------------- */
.header-primary {
  margin-bottom: $Global--spacing * 8;
  padding: ($Global--spacing * 2) 0;

  background-color: $Color--white;
  border-bottom: 1px solid $Color--border;
}

.atom-list {
  ul {
    margin-bottom: $Global--spacing * 2;
    li {
      height: $Global--spacing * 4;

      line-height: $Global--spacing * 4;

      border-bottom: 1px solid $Color--border-light;
      &.section-header{
        padding-left: $Global--spacing * 2;
        padding-right: $Global--spacing * 2;

        line-height: $Global--spacing * 4;

        border-bottom: 1px solid $Color--border;
      }
      &.last {
        border-bottom: 0;
      }
    }
    &.last {
      margin-bottom: 0;
    }
  }
}