/* @import 'variables'; */

.buffer-avatar {
  height: 50px;
  width: 50px;
  float: left;
  -moz-border-radius: 150px;
  -webkit-border-radius: 150px;
  border-radius: 150px;
  
  &.medium {
    height: 50px;
    width: 50px;
  }

  &.small {
    height: 22px;
    width: 22px;
  }

  &.large {
    height: 75px;
    width: 75px;
  }
}


.buffer-nav-horizontal {
  
  li {
    display: inline;
    margin-right: 25px;
  }

}